[2016-10-28 20:45] #341 closed

[2016-10-29 00:46] sencho commented on #288
@zhaodazhou not work yet

[2016-10-30 21:33] marekcirkos commented on #339
Ok, we do not support it, but it can be easily added thanks to `XCUIElementTypeSlider` category.

[2016-10-31 01:18] zhaodazhou commented on #288
@sencho Sorry, I was not specified enough. I found Xcode8.1 and iOS 10.1 iPhone 6 real device can work, but on the iOS 10.1 iPhone 7 have the same error.

[2016-10-31 04:28] lyt19871224 opened #343 "inspector can not get the tree of elements"
hi, tesing my company's ios app ,when i visit the inspector through the url , the webdriveragent xcode will console :

another page of simple structure ，the inpector can get the tree of element,but can not  Identify the specific elements ，see the image below

![1b3f4a1b-dae5-412b-a624-a129a795af70](https://cloud.githubusercontent.com/assets/7929135/19843941/3676154a-9f62-11e6-9e83-47002921059f.png

[2016-10-31 07:20] zhaodazhou commented on #288
Have anyone know the function _AXSAutomationSetFauxCollectionViewCellsEnabled(BOOL) work?

[2016-10-31 19:40] bearxc opened #344 "how to swipe on element ?"
Given an element  , is it possible to swipe on that  based on its x , y  coordinate ?

I gave a try on   left swipe with  following command and it turns out as click instead of swipe .

curl -X POST  $JSON_HEADER  -d "{fromX:187,fromY:660,toX:0,toY:660,duration:800}" $DEVICE_URL/session/$SESSION/uiaTarget/0/dragfromtoforduration

[2016-11-01 11:59] dengwei729 opened #345 "location Element by XPath fuzzy is intermittently extremely slow（3420s）"
find a element by xpath take very very long time（**3420s**）.   how can i location the element faster

`

- 2016-11-01 18:32:13.307337 XCTRunner[549:89302] mutableXPath is //XCUIElementTypeStaticText[contains(@name, "没有找到相关城市")]
- t =    65.60s     Get all elements bound by index for: Descendants matching type Any
- t =    65.63s         Snapshot accessibility hierarchy for local.pid.553
- t =    6

[2016-11-02 02:15] dengwei729 opened #346 "locate element by predicate string, wda crashed"
Try to locate element by predicate string , wda crashed

[code]

[2016-11-02 03:13] Royshcn opened #347 "inspector doesn't work"
I have installed WebDriverAgentRunner On real device via xcode and I can use safari on my mac to check the status via http://iphone's ip:8100/status. But when I try to access http://iphone's ip:8100/inspector it doesn't work. The following is the log from Xcode. pls help me.

2016-11-02 11:04:24.419 XCTRunner[808:261022] Running tests...
2016-11-02 11:04:24.427 XCTRunner[808:261022] Unable to load

[2016-11-02 08:31] Royshcn commented on #347
I downloaded WDA again. It works now.

[2016-11-02 08:31] #347 closed

[2016-11-02 10:10] marekcirkos commented on #345
XPath is slow, but we are working on that https://github.com/facebook/WebDriverAgent/pull/308. I would recommend using regular queries instead https://github.com/facebook/WebDriverAgent/wiki/Queries#searching-for-elements

[2016-11-02 10:11] marekcirkos commented on #344
Duration seems to be very long, so system might interpret that as a touch.

[2016-11-02 10:11] marekcirkos commented on #343
Try updating WDA, @mykola-mokhnach fixed that issue

[2016-11-02 10:13] marekcirkos commented on #288
@zhaodazhou Why you ask it is unrelated to device issue

[2016-11-02 10:14] #311 closed

[2016-11-02 10:15] marekcirkos commented on #320
https://github.com/facebook/WebDriverAgent/commit/52a40e332703ebe576f6735ee3cc89be3cb47a25

[2016-11-02 10:15] #320 closed

[2016-11-02 10:16] #340 closed

[2016-11-02 10:17] marekcirkos commented on #343
According other issue, this most likely is due to how application reports elements. XCTest uses accessibility to do that. I would check if your app properly sets accessibility attributes for that elements.

[2016-11-02 10:18] marekcirkos commented on #345
Closing duplicate of https://github.com/facebook/WebDriverAgent/issues/306

[2016-11-02 10:18] #345 closed

[2016-11-02 10:20] marekcirkos commented on #314
Duplicate of https://github.com/facebook/WebDriverAgent/issues/262

[2016-11-02 10:20] #314 closed

[2016-11-02 10:29] marekcirkos commented on #335
XCTest handler probably will not work because I think they depend and errors/exceptions being thrown by XCTest, which we explicitly prevent.

I don't want to add and complicated logic to WDA as I think it should be as simple as possible. This way it is easier to get it replaced if needed. Also it is hard to satisfy all client needs. Best example of it is scrollToVisible, where we had a lot of disc

[2016-11-02 10:31] marekcirkos commented on #346
That is not good. Can you paste request you are making?

[2016-11-02 15:20] bearxc commented on #344
both duration and toX   are too long .

[2016-11-02 15:20] #344 closed

[2016-11-02 18:16] hamena commented on #343
Is this issue fixed in current npm webpack package?
Could a native wheel picker suffer this problem too? Which accessibility attribute?

[2016-11-02 18:22] mykola-mokhnach commented on #343
@hamena check the recent comment from Isaak Murchie there https://github.com/appium/appium/issues/7034

It's already in Appium and you can install it using the following commands

[code]

[2016-11-02 18:30] mykola-mokhnach commented on #346
@dengwei729 can you try to replace _name_ with _wdName_ and/or _title_ in your query?

@marekcirkos Can you please advice on predicate locators documentation in https://github.com/appium/appium/issues/6777#issuecomment-257951851 ?

[2016-11-02 21:10] drptbl opened #348 "Using WebDriverAgentLib directly with unit testing target"
Hey,

I'm trying to use `WebDriverAgentLib.framework` directly in unit testing target.

It seems that it doesn't work at all. While trying to use anything related to `XCUIApplication`, for example:
[code]

I'm getting this error:
[code]

However I'm able to use other commands which are not related to `XCUIApplication` directly, for example:
[code]
Output:
[code]
and no error.

Is this something th

[2016-11-03 02:35] zhaodazhou commented on #288
@marekcirkos On iPhone 7 iOS 10.1, when call function _AXSAutomationSetFauxCollectionViewCellsEnabled(YES), report info like "Failed to write value for key AutomationDisableFauxCollectionCells in CFPrefsPlistSource<0x1740e9b00> (Domain: com.apple.Accessibility, User: kCFPreferencesCurrentUser, ByHost: No, Container: (null)): setting preferences outside an application's container requires user-pref

[2016-11-03 03:51] uimator commented on #343
@marekcirkos  I got same error in WDA master code. Xcode8 and os 10.12

[2016-11-03 04:02] Royshcn opened #349 "Question about element id"
I'm trying to do my first test on WDA. Launch an app, find a button and click it.

I use below query to get the button

curl -X POST $JSON_HEADER \
-d "{\"using\":\"xpath\",\"value\":\"//XCUIElementTypeButton[@name='Share']\"}" \
$DEVICE_URL/session/$SESSION_ID/elements

and then I don't know how to click it because element id is needed.

curl -X POST $JSON_HEADER -d "" $DEVICE_URL/session/$SESSIO

[2016-11-03 06:12] #349 closed

[2016-11-03 06:38] dengwei729 commented on #345
OK

[2016-11-03 13:49] slysid opened #350 "bootstrap.sh fails with "Not able to find module" error message"
Hi,
I am following instructions to install webdriveragent and running command "./Scripts/bootstrap.sh" and I am getting error message as below

[code]
I am running the script on OS X 10.12.1 (macOS Sierra)

[2016-11-03 16:50] drptbl commented on #350
Switch yours node from current (7) to LTS (6.9.1) and your issue will not exist.

[2016-11-03 21:36] slysid commented on #350
The solution worked

[2016-11-03 21:36] #350 closed

[2016-11-04 06:14] AliNL commented on #262
Hi, has it been fixed? I'm facing the same bug. Does the latest version works?

[2016-11-04 09:53] marekcirkos commented on #262
Not yet, sorry

[2016-11-04 09:59] marekcirkos commented on #350
You can also run `npm install` in Inspector dictionar.

[2016-11-04 10:00] marekcirkos commented on #348
Either you didn't launch application or you pass wrong bundle id.

[2016-11-04 10:05] marekcirkos commented on #346
I don't like the fact we have predicate support, because that people need to know internal implementation. I think we either should kill it (it is unsafe) or validate and translate predicates.

[2016-11-04 10:28] drptbl commented on #348
@marekcirkos I'm sure that bundle ID is proper (took it from Xcode) and application is launched (and visible on mobile screen) while trying to attach to it using `WebDriverAgentLib`.

[2016-11-04 10:29] drptbl commented on #350
@marekcirkos but this throws exactly the same error as above.

[2016-11-04 10:35] marekcirkos commented on #350
brr. I meant `npm update` ;)

[2016-11-04 10:35] marekcirkos commented on #350
brr. I meant `npm update` ;)

[2016-11-04 10:35] marekcirkos commented on #350
brr. I meant `npm update` ;)

[2016-11-04 10:36] marekcirkos commented on #350
brr. I meant `npm update` ;)

[2016-11-05 17:10] shaynl commented on #192
@marekcirkos i have the same issue with the code signing. It seems that I can only sign apps with bundle id that start with "com.myCompanyName". Can I alternatively change all WebDriver bundle ids from "com.facebook" to this one?

[2016-11-06 01:49] hamena commented on #343
@mykola-mokhnach it worked at all. Thank you.

[2016-11-06 15:29] codeskyblue opened #352 "Properly handle unexpected command attributes"
[code]

Use this command to test iphoneSE simulator, expect type something, actual return error

[code]

[2016-11-07 02:00] lvduoqiang opened #353 "when run ./Scripts/bootstrap.sh ,there has some problems."
Fetching dependencies
Building Inspector
Creating bundle directory...
Building inspector.js...

Hash: 9ed7d0b85cc08341fd0f
Version: webpack 1.13.3
Time: 95ms
   [0] multi main 28 bytes {0} [built] [1 error]
    + 1 hidden modules

ERROR in ./js/app.js
Module parse failed: /usr/local/lib/node_modules/appium-xcuitest-driver/WebDriverAgent/Inspector/js/app.js Unexpected token (59:4)
You may need an a

[2016-11-07 06:42] Royshcn opened #354 "WDA doesn't work on iOS 10.1"
My test device is an iPhone 7 ion 10.1. I used xcode to run test  and got following error,

XCTRunner[1076:264505] [User Defaults] Failed to write value for key AutomationDisableFauxCollectionCells in CFPrefsPlistSource<0x1700e8300> (Domain: com.apple.Accessibility, User: kCFPreferencesCurrentUser, ByHost: No, Container: (null)): setting preferences outside an application's container requires user

[2016-11-07 10:34] marekcirkos commented on #354
Can you try commenting `[FBConfiguration shouldShowFakeCollectionViewCells:YES]` in `UITestingUITests.m`?

[2016-11-07 10:38] marekcirkos commented on #352
It expects array of letters. `{"value": [,"h", "e", "l", "l", "o"]}`.

[2016-11-07 10:38] marekcirkos commented on #352
I have a plan to work on attribute robustness soon.

[2016-11-07 10:41] marekcirkos commented on #192
Do whatever you need to do :). WDA does not depend on bundle id having any particular value.

[2016-11-07 10:43] marekcirkos commented on #343
I guess we can close this issue?

[2016-11-07 10:43] #343 closed

[2016-11-07 11:06] marekcirkos commented on #353
Got fix for that. it should land shortly.

[2016-11-07 12:08] Royshcn commented on #354
I  commented it.  The error is gone but I still can't access the device via safari.

[2016-11-07 14:09] codeskyblue commented on #352
yeah, it works. BTW: how to send Return and Delete

[2016-11-07 14:18] marekcirkos commented on #352
Please keep this open as a reminder.

[2016-11-07 14:18] marekcirkos commented on #352
@codeskyblue '\n' '\r'

[2016-11-07 14:50] marekcirkos commented on #354
Is your phone and mac on the same wifi?

[2016-11-07 16:13] andreiaionitoaiesv opened #355 "Socket Timeout - Too many instances of this services are already running"
The problem

After 5-6 test runs (i ran only one test) the WebDriverAgent seems to be stucked in a weird state. The only thing that I can do here is to restart the phone. Not a viable solution. Any thoughts?

Environment

Appium version - 1.6.1-beta
OS X El Capitan 10.11.6
Node.js version 7.0.0
iOS 10.1.1
Real device
Link to Appium logs

https://gist.github.com/andreiaionitoaiesv/ed88032ed99e301ba

[2016-11-07 21:53] marekcirkos commented on #353
https://github.com/facebook/WebDriverAgent/commit/488f8369dba79cee6c0a094c1093162e1bc2d6c9

[2016-11-07 21:53] #353 closed

[2016-11-08 06:15] uimator commented on #343
@marekcirkos I get this error in page souce. Some of the page elements don't sets accessibility attributes, but I think you'll skip that elements and return others.

[2016-11-08 09:39] marekcirkos commented on #288
@zhaodazhou I do not think it is related. (https://github.com/facebook/WebDriverAgent/issues/354)

[2016-11-08 09:39] marekcirkos commented on #354
Duplicate of https://github.com/facebook/WebDriverAgent/issues/288

[2016-11-08 09:39] #354 closed

[2016-11-08 09:42] marekcirkos commented on #348
@drptbl Have a look at `FBAlertTests.m`

[2016-11-08 09:42] marekcirkos commented on #346
Duplicate of https://github.com/facebook/WebDriverAgent/issues/352

[2016-11-08 09:42] #346 closed

[2016-11-08 09:44] marekcirkos commented on #355
This is Xcode issue, nothing I can do, sorry.

[2016-11-08 09:44] #355 closed

[2016-11-08 10:00] andreiaionitoaiesv commented on #355
Oh that's a bummer. Can you provide a workaround if you know? Anyway thanks.

[2016-11-08 10:11] marekcirkos commented on #355
It was either Xcode restart or system restart.

[2016-11-08 13:00] andreiaionitoaiesv commented on #355
@marekcirkos
Does the WebDriver needs to be compiled at every test session? Can I skip this step and send a server command to start the server directly? I'm looking ways to increase the test execution speed.

[2016-11-08 13:28] imurchie commented on #339
I had tried to add support but it did nothing to the slider. Alas. I've opened a bug with Apple but no word yet about it.

Perhaps I was doing it wrong? My addition was to `FBElementCommands#handleSetValue`:

[code]

[2016-11-08 13:43] marekcirkos commented on #355
1. There is xcodebuild switch that can launch pre-build xctest
2. Single WDA launch can handle multiple non-concurrent sessions.

[2016-11-08 13:44] marekcirkos commented on #339
I got diff waiting to be landed.

[2016-11-08 14:47] imurchie commented on #339
👍

[2016-11-08 17:30] marekcirkos commented on #339
https://github.com/facebook/WebDriverAgent/commit/d5694557113d6f875457472c7bb0501e21155ec5

[2016-11-08 17:30] #339 closed

[2016-11-08 17:30] marekcirkos commented on #262
https://github.com/facebook/WebDriverAgent/commit/dc0a655094ef739bf8cd6217a740397b8c9cf7c3

[2016-11-08 17:30] #262 closed

[2016-11-08 20:57] drptbl commented on #348
@marekcirkos But `IntegrationTests` are UI testing target and my issue is related to unit testing target.

[2016-11-08 21:33] imurchie opened #356 "Setting Orientation no long works"
Ever since commit 61323c31289e76f2618347c385f78a0b5b7ea838 setting the orientation stopped working. Now when the following is sent:

[code]

We get an odd error (code 777?)

[code]

[2016-11-08 22:37] marekcirkos commented on #348
WDA will not give you anything for unit tests. It is implemented as UIXCTest and can be used as a helper for ui test, but will not work with regular unit tests.

[2016-11-08 22:37] #348 closed

[2016-11-08 22:40] marekcirkos commented on #356
Probably `return [self waitUntilInterfaceIsAtOrientation:orientation]` in `fb_setDeviceInterfaceOrientation ` should be `return [self waitUntilInterfaceIsAtOrientation:[XCUIDevice sharedDevice].orientation]`

[2016-11-08 22:41] marekcirkos commented on #356
I'll have a look tomorrow, or you can create PR :)

[2016-11-08 22:42] drptbl commented on #348
@marekcirkos EarlGrey is using unit testing target and combining it together with WDA would make it even more powerful.

[2016-11-08 22:44] marekcirkos commented on #348
All classes that WDA uses are XCUI related and they do not work in UnitTests.

[2016-11-08 22:46] marekcirkos commented on #356
Btw I guess I was super lucky with integration tests.

[2016-11-08 22:51] philipsTanoto opened #357 "Error copying attributes"
When trying to get the page source for a specific page of the App I get this error:
The page contains user profile info, which includes email, name, sex, gender, birthdate, height, weight.
It is working on any other pages, so I'm not quite sure what is causing this error.

XCTRunner[453:180715] Enqueue Failure: UI Testing Failure - Failure fetching attributes for element <XCAccessibilityElement: 0

[2016-11-09 04:55] Royshcn commented on #288
Any updates about this issue?

I tested 4 real devices.
Two 9.3.4 devices work fine.
10.1 devices still don't work. I use xcode to run the test and no error in the logs. But I can't connect the http://ip:8100/status

[2016-11-09 08:43] uimator commented on #357
+1

[2016-11-09 13:31] fabiomeyra opened #359 "I can't localize WebDriverAgentRunner.xctest file"
Hi all,

i'm trying start up webdriver via fbsimctl, but i can't localize 'WebDriverAgentRunner.xctest' file to start the service, already tried find them with the mdfind command, however, it no find's anything.
anyone can help's me?

[2016-11-09 13:44] imurchie commented on #356
That doesn't seem to work, either. The orientation is never changed.

[2016-11-09 14:13] Lexx918 opened #361 "Too long loop"
If the string length is large, loop takes too long. Define it before the loop. Please!
[code]
(C) [WebDriverAgentLib/Categories/XCUIElement+FBTyping.m line 31](https://github.com/facebook/WebDriverAgent/blob/master/WebDriverAgentLib/Categories/XCUIElement%2BFBTyping.m#L31)

[2016-11-09 15:39] codeskyblue opened #362 "tap coordinate still wrong on landscape mode, iOS 10"
- iOS: 10.0.1
- Lastest WDA code
- Model: iPhone 6 Plus (MGAJ2CH/A)

Use `iproxy` to communicate to phone.

Should tap `关于本机`, Actually tap `CarPlay`

![image](https://testerhome.com/photo/2016/eb47f80e27717cb5cefd5098f699dd12.png)

[2016-11-09 16:39] codeskyblue commented on #288
use `iproxy` is ok with iOS 10

[2016-11-09 16:54] marekcirkos commented on #288
Is this all China iPhones? It is a bit interesting.

[2016-11-09 16:59] marekcirkos commented on #359
On Xcode after you build, you can right click on WebDriverAgentRunner.xctest product and select "Show in Finder". It might point some runner app, but if you inspect the package you could be able to find it there

[2016-11-09 17:00] marekcirkos commented on #361
1. Please open PR if you want to improve WDA, I will be more than happy to review it.
2. How do you know it is loop issue?
3. How long is you string?

[2016-11-09 17:09] marekcirkos commented on #362
I broke rotations, so that might be related. However can you post what are frames for both?

[2016-11-09 17:36] marekcirkos commented on #356
Omg, I made super simple mistake. Fix is on the way

[2016-11-09 18:10] marekcirkos commented on #362
Found an issue, fix is on the way.

[2016-11-10 00:41] fabiomeyra commented on #359
thank you, it work. how i use curl commands to interact with device?
how it work's? i should program my features? it's not clear for me.
sorry, i'm beginner. if could you help me i would grateful.

[2016-11-10 01:09] AliNL commented on #288
Yes, only China iPhones have this problem. I tried iPhones from other countries, they work fine.

[2016-11-10 01:28] Royshcn commented on #288
@codeskyblue can u give me more details about using  iproxy or a web link?
thanks.

[2016-11-10 06:33] HenryGu8 opened #363 "'RoutingHTTPServer/RoutingConnection.h' file not found/'RoutingHTTPServer/RoutingHTTPServer.h' file not found"
Hi,

I encountered following issue when trying to run IDEA to access Appium.

'RoutingHTTPServer/RoutingConnection.h' file not found/'RoutingHTTPServer/RoutingHTTPServer.h' file not found

Appium: 1.6
Xcode: 8

Please help to find following log and attached file

[Xcode] 2016-11-10 14:06:34.523 xcodebuild[10705:233757] Error Domain=IDETestOperationsObserverErrorDomain Code=3 "Test operation was ca

[2016-11-10 06:45] sixleaves commented on #363
u should open terminal and input ./Scripts/bootstrap.sh

[2016-11-10 10:07] marekcirkos commented on #359
https://github.com/facebook/WebDriverAgent/wiki/Queries

[2016-11-10 10:07] #359 closed

[2016-11-10 10:08] marekcirkos commented on #363
or/and raise this issue with Appium.

[2016-11-10 10:08] #363 closed

[2016-11-10 11:06] marekcirkos commented on #362
https://github.com/facebook/WebDriverAgent/commit/464e7adb32ac3e2cdc24129d4cb4e2f2ec87c834

[2016-11-10 11:07] marekcirkos commented on #362
@codeskyblue Please confirm

[2016-11-10 11:07] marekcirkos commented on #356
https://github.com/facebook/WebDriverAgent/commit/c385dc34c7b3a5facffc7872d6e9263c037fa022

[2016-11-10 11:07] #356 closed

[2016-11-10 11:08] marekcirkos commented on #357
Can you check https://github.com/facebook/WebDriverAgent/commit/381a4845aaf839858e05e07e10ea86eea8bf37c2 ?

[2016-11-10 11:21] tobecrazy commented on #215
Did the same, issue still exists, any other alternatives ?

[2016-11-10 12:44] imurchie commented on #356
Awesome! Fixed. Thanks!

[2016-11-10 13:37] mykola-mokhnach opened #364 ""(null)" value is shown in log as server name if WiFi is disabled/not available on real device"
1. Disable WiFi on real iPhone
2. Build the runner using command:

[code]

3. Wait until "ServerURLHere->" log record appears

AR:
There is

[code]

log record

ER:
I expect to see correct output here
OR
WDA should throw an exception instead

**Problem source:**

FBWebServer.m

[code]

variable, which is set to _null_ if WiFi network address is not set and is not verified against that.

[2016-11-10 13:53] marekcirkos commented on #364
If WiFi is disabled, obviously we can't print IP address. Throwing an exception is not a good ideas as you might still want to communicate with device via USB. Best we can do is not print this message or print warning.

If you want to create PR I will be happy to review it.

[2016-11-10 13:57] mykola-mokhnach commented on #364
The importtant thing is, that Appium code relies on this particular log line. So, probably, it would be better to sync with @imurchie or @jlipps on how to implement the fix properly.

[2016-11-10 13:58] imurchie commented on #364
Appium does not rely on this anymore. We wait for it to be printed, so we know the system is ready to accept commands, but then we use `iproxy` to connect through USB. The host is always changed to `localhost`.

[2016-11-10 13:58] marekcirkos commented on #364
Probably you can watch for this message or warning message.

[2016-11-10 14:01] marekcirkos commented on #364
I guess you search for `ServerURLHere`?
We can replace `null with better one like `localhost`.
Any other ideas?

[2016-11-10 15:00] codeskyblue commented on #362
last night I update my iPhone to 10.1.1
So xcode should also update, It may take 6~8 hours because of the slow network.
Sorry I can't confirm recently.

[2016-11-10 15:00] codeskyblue commented on #362
last night I update my iPhone to 10.1.1
So xcode should also update, It may take 6~8 hours because of the slow network.
Sorry I can't confirm recently.

[2016-11-10 15:00] codeskyblue commented on #362
last night I update my iPhone to 10.1.1
So xcode should also update, It may take 6~8 hours because of the slow network.
Sorry I can't confirm recently.

[2016-11-10 15:00] codeskyblue commented on #362
last night I update my iPhone to 10.1.1
So xcode should also update, It may take 6~8 hours because of the slow network.
Sorry I can't confirm recently.

[2016-11-10 15:05] Lexx918 commented on #361
Cause I checked it https://github.com/qa-dev/WebDriverAgent/pull/11/files

About 100-200 bytes. You calculate the length of the string in each iteration of the loop. Running another search element. Again and again. _**facepalm.jpg**_

[2016-11-10 17:09] mykola-mokhnach commented on #357
@philipsTanoto There might be also cases where this errors happens because UI is doing some updates in background while XCTest is trying to read attribute values. In such case only hardcoded sleep may help sometimes to make sure all the background updates are finished before doing any actions with XCTest. See the discussion in https://github.com/facebook/WebDriverAgent/pull/358 for more details

[2016-11-10 22:25] mykola-mokhnach commented on #361
Yup, this is not a problem in "usual" C world, but ObjectiveC is not the case:
http://iosdevelopertips.com/objective-c/high-performance-collection-looping-objective-c.html

[2016-11-11 00:19] #364 closed

[2016-11-11 00:21] marekcirkos commented on #352
@codeskyblue We have same issue with other endpoints

[2016-11-11 00:30] marekcirkos commented on #288
Added this issues to know issues https://github.com/facebook/WebDriverAgent/wiki/Common-Issues

[2016-11-11 00:53] philipsTanoto commented on #357
@marekcirkos https://github.com/facebook/WebDriverAgent/commit/381a4845aaf839858e05e07e10ea86eea8bf37c2 fixed the issue. Thanks a lot @mykola-mokhnach @marekcirkos !

[2016-11-11 00:53] #357 closed

[2016-11-11 02:56] codeskyblue commented on #288
@Royshcn see my blog <https://testerhome.com/topics/6331>

[2016-11-11 04:13] Royshcn commented on #288
@codeskyblue Thanks for your information.

[2016-11-11 10:40] marekcirkos commented on #361
@Lexx918 We call length on immutable string, which I highly doubt it actually runs a string every single time and most likely uses cached value. Thing that might be problematic is calling `self.value` it might be resolving element which would be super slow. @Lexx918 can you pop a PR?

[2016-11-11 13:15] codeskyblue commented on #362
Confirm. still the wrong coordinate.

[2016-11-11 16:33] mykola-mokhnach opened #367 "Automatically close alert "leftovers" after WDA startup"
This is mostly relevant for real device testing. The problem is that if we run multiple tests there could be a situation when a test fails and WDA closes application under test, but any alert stays on the screen if it was previously invoked by the app. This prevents WDA driver to start for the following test cases and there is no way to close this "zombie" alert from automated test. Only manual cl

[2016-11-11 23:54] marekcirkos commented on #362
Which endpoint are you using?

[2016-11-11 23:59] marekcirkos commented on #367
Can't your client check for alerts and dismiss them before starting session?

[2016-11-12 07:33] Royshcn opened #368 "Question about type text to a TextField"
I got error when I use DEVICE_URL/session/$SESSION_ID/element/5/value

{  "value" : "Error Domain=com.facebook.WebDriverAgent Code=1 \"Keyboard is not present\" UserInfo={NSLocalizedDescription=Keyboard is not present}",  "sessionId" : "09AB695F-1221-4C50-98F2-85CAF8494315",  "status" : 13}

I guess the reason was that TextField is almost invisible.

How can I scroll page a little bit down before

[2016-11-12 09:29] mykola-mokhnach commented on #367
Do you mean the application under test(AUT) itself or the testing framework? AUT cannot do this, because it is started by WDA, which cannot be started due to the issue described above. Regarding the framework itself - I don't know any iOS command line tool, which allows to close on-screen alerts. Probably you know any?

[2016-11-12 16:49] marekcirkos commented on #367
I meant testing framework, could check for alert presence using WDA just before starting new session (launching AUT). Do you have problems starting WDA with alert present?

[2016-11-12 16:57] mykola-mokhnach commented on #367
yep, WDA just cannot start properly. xcodebuild fails with error 1, since it cannot be put to the background. The problem is easy to reproduce: execute any app, that produces alerts, leave the alert be and then start WDA.

[2016-11-14 15:30] toejough commented on #357
what's the right way to update to get this fix working with Appium?  I've checked out the commit, replaced the appium version of WDA with this one, run the boostrap.sh, and also built with xcode - I still have this exact error.  I'm hoping I'm just missing some simple step...

[2016-11-15 08:09] chsasaw opened #370 "Why WebDriverAgentLib Deployment Target is set to iOS9.3?"
Since XCUITest supports iOS9.0 and above, I have tested WDARuner on iOS9.2, it was running normally.

[2016-11-15 11:51] marekcirkos commented on #370
I do not remember exactly, but there were some differences in XCTest private methods related to visibility checks. Same code on pre iOS 9.3 will most likely crash on visibility checks.

[2016-11-15 11:56] chsasaw commented on #370
Would you please find out those methods?

[2016-11-15 15:16] imurchie commented on #368
You ought to be able to click on a TextField and the keyboard will come up and the placement of the TextField will be adjusted by iOS.

[2016-11-15 15:23] imurchie opened #371 "XCTRunner[5758]: background task expired!!!"
Periodically we are seeing in longer-running tests the WebDriverAgent background task dies with an expiration. We end up with iOS simulator logs like:

[code]

I'm not sure how to proceed in debugging and fixing this.

[2016-11-15 15:38] toejough opened #372 "Error copying attributes"
The same error under the same conditions as #357.  Opening a new issue because that was closed as resolved by the author after the last visibility fix, so I'm assuming that this is a related, but different, root cause.

Relevant log:
[code]

I'm happy to try any suggested code edits, but I don't know enough about obj-c or XCUI test itself to dig around too much on my own at the moment.

I'd also b

[2016-11-16 01:01] lvconley commented on #316
I'm using Appium 1.6.1 against an iOS 10 iPhone 6S simulator and this issue hits me when I try to use driver.getPageSource() on a view containing a pickerWheel (in this case, loaded with dozens of countries). I'm firing getPageSource() so I can capture all the XCUITest elements on the page and use them for mapping MobilElements in my PageObjects. What can I do to get around this showstopper for me

[2016-11-16 09:46] marekcirkos commented on #316
I am not super familiar with Appium, you probably should poke them instead

[2016-11-16 09:50] marekcirkos commented on #371
There is not much we can do on WDA level. If you are using xcode build to start WDA you should raise an issue with Apple.

[2016-11-16 09:50] #371 closed

[2016-11-16 09:52] mykola-mokhnach commented on #372
Try to merge [this PR](https://github.com/facebook/WebDriverAgent/pull/369) to your local source and then add _waitForNoAnimationsActive_ API call before to locate the corresponding element. It looks like XCTest does not like when one reads attributes while on-screen animation is active in the corresponding container. That is why it is necessary to make sure all the animations have been finished b

[2016-11-16 09:59] marekcirkos commented on #368
This endpoint should tap on textview if it does not have keyboard focus. Looks like we failed to deliver  tap. You can try to scroll till visible https://github.com/facebook/WebDriverAgent/blob/master/WebDriverAgentLib/Commands/FBElementCommands.m#L272

[2016-11-16 10:00] mykola-mokhnach opened #373 "Make screenshoting option configurable from WDA"
This report is based on https://github.com/appium/appium/issues/7242
XCTest creates a lot of extra data by default, which is not needed (and slows down testing, since screenshoting takes time). It would be useful to disable derived data collection directly from untiltest config in WDA if there is a way to it.
The [solution](http://stackoverflow.com/questions/35697867/how-to-turn-off-automatic-scre

[2016-11-16 12:22] among29 opened #374 "xcodebuild archive commas is failing due to warnings and -Werror"
osx：10.11.6
Xcode 8.1

git clone --depth 1 https://github.com/facebook/WebDriverAgent.git
./Scripts/build.sh

error info:

diateBuildFilesPath/WebDriverAgent.build/Release-iphoneos/WebDriverAgentLib.build/Objects-normal/armv7/XCTestPrivateSymbols.o
/Users/among/xpj/WebDriverAgent/WebDriverAgentLib/Utilities/XCTestPrivateSymbols.m:35:97: error: must specify at least one argument for '...' parameter

[2016-11-16 16:08] marekcirkos commented on #374
This is archive, not build. Should be easy to fix as it fails due to warning on macro. Feel free to pop a PR

[2016-11-16 16:14] marekcirkos commented on #373
Yes there is a way. You can use fbsimctl to launch WDA :). Unfortunately from WDA point of view there is nothing we can do.

[2016-11-16 16:14] #373 closed

[2016-11-16 16:43] mykola-mokhnach commented on #373
Can you please provide more details on this? Probably, we might implement the same stuff in Appium as well. I have checked fbsimctl source and it looks like XCTestConfiguration contains some properties, which might be useful to us, but this bloody stuff is private and has no documentation, so I have no idea how to work with it.

@imurchie FYI

[2016-11-16 17:04] marekcirkos commented on #373
https://github.com/facebook/WebDriverAgent/wiki/Starting-WebDriverAgent#c-using-fbsimctl-from-fbsimulatorcontrol-framework

[2016-11-16 18:04] toejough commented on #372
Thanks!  I'll give that a shot today!

[2016-11-16 19:28] toejough commented on #372
hmmm, what do I have to do to make this work?  I checked out the PR, ran the bootstrap, used xcode to build the WebDriverAgentLib and WebDriverAgentRunner, and what I get in my appium logs is:

[code]

[2016-11-16 20:18] toejough commented on #372
Nope.

I called that API before every call to page source, and I still got
[code]

This particular spot is a gmail auth screen in a webview - there's really nothing animating.

The odd thing is that when this happens, subsequent page source requests go through immediately.  If it helps debugging, the page source in this case is [here](https://gist.github.com/toejough/41a389380945db848902ca6ebfbc5b

[2016-11-16 20:19] toejough commented on #372
corresponding screenshot:
<img width="487" alt="screen shot 2016-11-16 at 3 18 44 pm" src="https://cloud.githubusercontent.com/assets/5317312/20364147/04b03788-ac10-11e6-98b4-25a2b1d5f10a.png">

[2016-11-16 20:22] toejough commented on #372
screenshot to go along with the source:
<img width="487" alt="screen shot 2016-11-16 at 3 18 44 pm" src="https://cloud.githubusercontent.com/assets/5317312/20364259/6d90df82-ac10-11e6-98f1-1bb59b8ae564.png">

[2016-11-16 20:52] bearxc opened #375 "Auto scroll is gone"
when try to click an invisible component ,   WDA did auto scroll before , now this auto scroll  has been removed , and click does not work any more .    we have to scroll manually   and make sure component  in the view before apply click action .  It is really not convince .

I have to rollback to old code base  so far ,  and  maybe  cherry pick  other commits  .

[2016-11-16 20:56] marekcirkos commented on #375
@bearxc  Yes, I did revert it, as it wasn't stable and caused a lot of failures for us.

[2016-11-17 02:56] chsasaw commented on #370
I can't find any crashes on iOS9.0, Any suggestion?

[2016-11-17 08:11] BigWavelet opened #376 "Enqueue Failure: UI Testing Failure"
Hi there,
I'm having issues while trying to get view hierarchy on specific iOS app screen.
The log is as follows,
[code]
 could anyone help me?

[2016-11-17 08:32] mykola-mokhnach commented on #372
What if you just add hardcoded sleep to make sure the webview has been successfully loaded before invoking getPageSource?

[2016-11-17 10:35] marekcirkos commented on #288
Closing in favour of Wiki - Known issue

[2016-11-17 10:35] #288 closed

[2016-11-17 10:36] marekcirkos commented on #335
@imurchie  ?

[2016-11-17 10:37] marekcirkos commented on #362
@codeskyblue ?

[2016-11-17 10:39] marekcirkos commented on #367
I don't think we can handle that from WDA point of view. This must by system alert tho any application alert die when application dies.

[2016-11-17 10:40] marekcirkos commented on #368
@Royshcn Can you create PR with this test case on `IntegrationApp`?

[2016-11-17 10:41] marekcirkos commented on #370
Open inspector and check if it works properly? Also make sure if "isVisible" properties have correct values

[2016-11-17 10:43] marekcirkos commented on #372
@toejough Can you change [this method ](https://github.com/facebook/WebDriverAgent/blob/master/WebDriverAgentLib/Categories/XCUIElement%2BFBIsVisible.m#L29) too always return `NO` and check if you still having this error?

[2016-11-17 10:44] #375 closed

[2016-11-17 10:45] marekcirkos commented on #376
Duplication of https://github.com/facebook/WebDriverAgent/issues/372

[2016-11-17 10:45] #376 closed

[2016-11-17 11:04] chsasaw commented on #370
Have checked on simulator 9.0, iPhone5, inspector works properly, and "isVisible" value is correct.Any other problems?

[2016-11-17 13:10] marekcirkos commented on #370
Which Xcode do you use?

[2016-11-17 13:54] toejough commented on #372
always returning `NO` got me through my login screens so fast I wasn't ready for it!  I've been trying to follow the visibility conversation - does this mean that there are some other checks to add to that method?

[2016-11-17 13:56] toejough commented on #372
Personally, I can live with this.  any incorrect visibility states that arise in my test code can be dealt with much more easily than those long timeouts.

Thank you very much for your attention and work on this!!

[2016-11-17 14:01] imurchie commented on #335
This remains a desideratum, and is not easily done at our end. Honestly I haven't had time to investigate much. I guess it can be closed if the Apple-provided means does not work. :(

[2016-11-17 14:55] codeskyblue commented on #362
Sorry for my delay, I can not upload the image, because the bad network.

This is my request

[code]

[2016-11-17 15:11] marekcirkos commented on #362
@codeskyblue This finds elements not taps them right?

[2016-11-17 23:35] codeskyblue commented on #362
no. not right. or I will close this issue

[2016-11-18 01:59] chsasaw commented on #370
Xcode8.1

[2016-11-21 07:38] nghiadhd opened #377 "WebDriverAgent only accepts orientation is uppercase value"
I tried to set the new orientation (lowercase) via wd.io APIs but WebDriverAgent always returns "Unable To Rotate Device" message
http://webdriver.io/api/mobile/setOrientation.html

I investigated the WebDriverAgent sources and see it only accepts uppercase orientation value
https://github.com/facebook/WebDriverAgent/blob/master/WebDriverAgentLib/Commands/FBOrientationCommands.m#L103

I think that

[2016-11-21 09:04] marekcirkos commented on #362
@codeskyblue I don't understand. Your curl request finds elements does not tap them.

[2016-11-21 09:09] marekcirkos commented on #370
@chsasaw I would check that on devices. Simulators will most likely be fine as the all will use same XCTest.framework. If you want to check on simulators, best would be to get Xcode 7.0.

[2016-11-21 09:10] marekcirkos commented on #377
@nghiadhd I definitely agree. Feel free to pop a PR with that change.

[2016-11-21 17:42] isnifer opened #380 "Too much logs"
Hi, guys!
How can I avoid this issue?
![image](https://cloud.githubusercontent.com/assets/1788245/20493711/f35e1044-b02a-11e6-83ce-7a2751f1cb1c.png)

[2016-11-21 18:26] toejough commented on #344
@marekcirkos - I ran into this issue, too, as appium is not translating ms to s.  Is this command performing a long-press and returning 200 in this scenario on purpose?  It seems wrong, and definitely made my debugging more difficult.

If I specify a really long drag, I'd expect that either:
* the really long drag is performed OR
* the command errors out with a message about exceeding a maximum du

[2016-11-21 23:46] codeskyblue commented on #362
tapped but with wrong position.

[2016-11-22 07:40] screen-tiger opened #381 "please add a version release"
for company usage.
when use any 3nd party licensed open source project, our company need to track the used version.
while this project seems have no version.  can you build any version for usage.

[2016-11-22 10:09] marekcirkos commented on #381
@screen-tiger It doesn't make much sense to version WDA. You can easily do on your side or even use revision hash for it.

[2016-11-22 10:09] #381 closed

[2016-11-22 10:10] marekcirkos commented on #362
@codeskyblue I understand that, but which endpoint do you use to tap element?

[2016-11-22 10:15] marekcirkos commented on #344
@toejough You should think about WDA/XCUITest as touching service. We do not trigger gesture recognisers directly and imitate touching instead. How app interprets that it is up to it. If you perform super slow swipe you will trigger long press gesture recogniser, if there is one. Validating that on WDA will not be a good idea as you might want to test super slow swipe on your app etc.

[2016-11-22 10:17] marekcirkos commented on #380
I assume you use Xcode to start WDA. This size of logs can be explained by all screenshots XCUITest gathers while running WDA. Unfortunately there is nothing we can do on WDA side, however you should consider to use FBSimulatorControl for starting WDA. It will perform much faster and reduces number of logging.

[2016-11-22 10:17] #380 closed

[2016-11-22 14:18] codeskyblue commented on #362
I dont very understand. Are you mean

[code]

[2016-11-22 14:22] marekcirkos commented on #362
@codeskyblue Request you posted will search for an element, not tap it. Which you request do you use to tap this element.

[2016-11-22 15:42] codeskyblue commented on #362
[code]

[2016-11-22 19:55] bearxc opened #382 "app crashes"
My app  crashes  randomly   during automation .

I suspect  the root cause comes from apple  internal framework .

Any  suggestion /work around for this  ?

Application Specific Information:
*** Terminating app due to uncaught exception 'NSRangeException', reason: '*** -[__NSArrayM objectAtIndex:]: index 5 beyond bounds [0 .. 4]'
terminating with uncaught exception of type NSException
abort() call

[2016-11-22 21:47] marekcirkos commented on #377
https://github.com/facebook/WebDriverAgent/commits/master

[2016-11-22 21:47] #377 closed

[2016-11-22 21:50] marekcirkos commented on #382
I have seen something similar long time ago. This happens because accessibility injects code to running up in order to gather hierarchy data. Most likely you conflict on property names on views or view controllers. In our case it was `viewDelegate`.

[2016-11-24 12:20] marekcirkos commented on #382
@bearxc any update?

[2016-11-24 12:22] marekcirkos commented on #367
@mykola-mokhnach Are you ok to close this task or you still validating it?

[2016-11-24 12:23] marekcirkos commented on #306
https://github.com/facebook/WebDriverAgent/pull/308

[2016-11-24 12:23] #306 closed

[2016-11-24 12:26] mykola-mokhnach commented on #367
no pb. I can close it.

[2016-11-24 12:26] #367 closed

[2016-11-24 13:34] marekcirkos commented on #361
https://github.com/facebook/WebDriverAgent/commit/38c7e7c925198267df15a611462fd85758a681d2

[2016-11-24 13:34] #361 closed

[2016-11-24 14:25] marekcirkos commented on #179
@mykola-mokhnach, @imurchie, @asm89. Using WD properties with WDA is becoming more and more confusing. We need to clarify how dow we map `identifier`, `title`, `label`, `value`, `placeholderValue, `selected`, `hasFocus`, `enabled`, `frame` from `XCUIElement` to WD's search strategies. I want to make it in a way that makes sense for FB and other WDA users. Do you have any thought on that?

[2016-11-24 14:40] mykola-mokhnach commented on #179
@marekcirkos I think that only properties defined in FBElement protocol should be visible to end user, should be present in source json/xml representation and be available for predicate search (I've just recently created a PR for it). Also I would like to create a second one to represent page source as xml, but after https://github.com/facebook/WebDriverAgent/pull/308 is merged to master.

[2016-11-24 14:59] bearxc commented on #382
we are still under investigation   for conflict  , no clue yet.

[2016-11-24 15:01] marekcirkos commented on #382
Did you check your code for `viewDelegate`?

[2016-11-24 15:10] bearxc commented on #382
we have no definitions or references to viewDelegate

[2016-11-24 18:59] bearxc opened #384 "Can not input inside alert"
we need input value  inside an alert ,  the keyboard does show up at the bottom and from source tree   , but WDA   still  complains   there is  an  "obstructing view"  and can not find keyboard.

debug] [JSONWP Proxy] Proxying [POST /element] to [POST http://localhost:8100/session/5C578E3A-EF5D-4D7B-90FE-06D2E07FD2F2/element] with body: {"using":"class name","value":"XCUIElementTypeTextField"}
[de

[2016-11-24 20:58] bearxc commented on #384
isElementObstructedByAlertView()    need update ,    so far , I simply return NO   always .

[2016-11-24 23:18] bearxc commented on #384
Add following  into  isElementObstructedByAlertView()  ,  make sure  keyboard never obstructed by alert .

if (element.elementType == XCUIElementTypeKeyboard) {
        return NO;
    }

[2016-11-26 15:02] phoebusliang commented on #212
Even add the blank, I still cannot start the app, cloud you give some help?
after run the fbsimctl the console is:

Listen Started: empty
Test Plan Started
Started initilizing for UI testing.

But the app launch and quit, I can't execute curl like:curl -X POST '-H "Content-Type: application/json"' -d "{\"desiredCapabilities\":{\"bundleId\":\"xxxx\"}}" http://localhost:8100/session

[2016-11-26 16:06] phoebusliang commented on #281
I'm same like @makhov

Steps:
1. download newest version of webdriveragent project
2. use fbsimctl to boot and install my app: xx.app
3. ./Documents/fbsimctl/fbsimctl --state=booted launch_xctest /Users/name/Documents/workspace/xcode/WebDriverAgent/Build/Products/Debug-iphonesimulator/WebDriverAgentRunner-Runner.app/PlugIns/WebDriverAgentRunner.xctest xxapp --port 8101 -- listen
4. the result of '

[2016-11-26 16:24] phoebusliang opened #388 "Application is not running, possibly crashed, but the app is still running in my simulator"
Steps:

1. download newest version of webdriveragent project
2. use fbsimctl to boot and install my app: xx.app
3. execute ./Documents/fbsimctl/fbsimctl --state=booted launch_xctest /Users/name/Documents/workspace/xcode/WebDriverAgent/Build/Products/Debug-iphonesimulator/WebDriverAgentRunner-Runner.app/PlugIns/WebDriverAgentRunner.xctest xxapp --port 8101 -- listen
4. the result of 'step3' in cons

[2016-11-26 17:51] #374 closed

[2016-11-28 09:00] marekcirkos commented on #388
@phoebusliang Did you start new session or use default one?

[2016-11-28 09:16] PandaWX commented on #181
Do you have solved it？ help me，please！

[2016-11-28 09:45] BigWavelet commented on #181
@PandaWX  maybe u can try iproxy to forward the device port by usb.  works for me!

[2016-11-28 10:24] sepiol opened #390 "/Resources/WebDriverAgent.bundle: No such file or directory"
I've already ran the bootstrap.sh file for the dependencies and still get this error when trying to run WebDriverAgentRunner.

The build fails of course after this error.
Any thoughts on this?

![image](https://cloud.githubusercontent.com/assets/17814584/20664824/8dc420ee-b565-11e6-8cd5-6636aa029a60.png)

[2016-11-28 10:26] marekcirkos commented on #390
Did you run `./Scripts/bootstrap.sh`?

[2016-11-28 10:26] sepiol commented on #390
@marekcirkos thanks for the quick answer. As i wrote in my issue i've already ran it

[2016-11-28 10:31] marekcirkos commented on #390
Bundle is created by bootstrap.sh script. If you did run it, maybe it is failing for you, but we don't advertise that properly. Can you paste its output?

[2016-11-28 10:34] sepiol commented on #390
@marekcirkos

This is the terminal output

![image](https://cloud.githubusercontent.com/assets/17814584/20665112/fa4506c4-b566-11e6-8a99-64a8da478271.png)

[2016-11-28 10:35] marekcirkos commented on #390
Run it without `-d`

[2016-11-28 10:37] sepiol commented on #390
@marekcirkos That did the trick! thank you very much and sorry to bother you with this ;)

[2016-11-28 10:37] #390 closed

[2016-11-30 05:51] phoebusliang commented on #157
@marekcirkos  I found the code [[FBRoute POST:@"/deactivateApp"] respondWithTarget:self action:@selector(handleDeactivateAppCommand:)],

We can deactive the app, can we re-active the app again?

[2016-11-30 11:41] marekcirkos commented on #157
It should reactive the application after given duration. Do you deactivate it in landscape mode?

[2016-11-30 12:34] marekcirkos commented on #388
Ping

[2016-11-30 12:35] marekcirkos commented on #384
@bearxc Feel free to pop a PR with test case :)

[2016-11-30 12:36] marekcirkos commented on #382
@bearxc Any luck?

[2016-11-30 12:36] marekcirkos commented on #370
ping

[2016-11-30 12:36] marekcirkos commented on #368
Ping

[2016-11-30 12:39] marekcirkos commented on #362
@codeskyblue Does it still tap `CarPlay` or something else?

[2016-11-30 14:44] toejough commented on #344
Ah, ok.  Thank you for the explanation - that makes sense, and will help me reason better about the right behaviors/interactions to expect.

[2016-11-30 15:08] codeskyblue commented on #362
tap something else. I really wish I can send pictures to you. But my network just not allow me to do that.

[2016-11-30 15:10] codeskyblue commented on #362
should here

[code]

but actually here

[code]

[2016-11-30 15:11] bearxc commented on #382
It seems not the issue related with  WDA .

[2016-11-30 15:11] #382 closed

[2016-11-30 23:15] jlipps commented on #179
agree with @mykola-mokhnach. However the actual source XML is less important than WD methods working as expected.

[2016-12-01 02:06] phoebusliang commented on #388
Thanks so much. @marekcirkos , yes I start up a new session. I think the key problem is I didn't build the XCUITest bundle on my simulator at first. Now I boot all my simulators and install XCUITest bundle, after that, I can handle the session.

[2016-12-01 02:31] AliNL commented on #362
@marekcirkos I'm facing this issue too with the latest commit. Seems the rotation fix for landscape still not working as expected.

[2016-12-01 04:04] Royshcn commented on #368
@marekcirkos Sorry for repling too late. I will try  to use scroll till visible. Thanks.

[2016-12-01 08:36] chsasaw commented on #388
@marekcirkos  @phoebusliang
How can I just install and launch webdriveragent.app on device? But not start from build project.
I tried ios-deploy and idevicedebug, and it can launch app, but cannot manage the session. I think the reason is XCUITest bundle not started.Can I use some tools like fbsimctl?

[2016-12-01 08:44] chsasaw commented on #370
@marekcirkos
Sorry for waiting for so long time, I have tested on device(iOS9.2.1 iPhone5s), and it works fine. Include inspector and click events and element's visibility is correct.Tried my best....

[2016-12-01 09:32] marekcirkos commented on #388
@chsasaw Yep, fbsimctl will work.

[2016-12-01 09:32] #388 closed

[2016-12-01 09:36] marekcirkos commented on #179
@mykola-mokhnach, @jlipps If you compare locators from other servers. They mainly use byId,  byName and byText which works differently on WDA. I was thinking about consolidating wide range of properties on XCTest to those three.

[2016-12-01 13:20] chsasaw opened #391 "Start WDA on device use fbsimctl"
I use
`fbsimctl $device_id --state=booted launch_xctest ~/Desktop/WebDriverAgentRunner-Runner.app/PlugIns/WebDriverAgentRunner.xctest com.apple.mobilesafari --port 8100 -- listen`

the device shows nothing, and the log in terminal is short
`Listen Started: empty`

Am I using the wrong way?

[2016-12-01 14:14] sureshgorantla opened #392 "Using WebDriver Agent to launch Airwatch browser"
HI All.

Can i use WebDriver Agent to launch airwatch browser in IOS device and to automate the events? Please let me know.

Thanks,
Suresh G

[2016-12-02 06:36] phoebusliang opened #393 "Can we query elements with multi values?"
WDA query elements with post body:

{
	"using":"class name",
	"value":"XCUIElementTypeButton"
}

Can we query different values one time with array like:

{
	"using":"class name",
	"value":[
		"XCUIElementTypeButton",
		"XCUIElementTypeTextField"
	]
}

[2016-12-02 06:58] phoebusliang commented on #157
Sorry for the misunderstanding. I mean deactivate the app and then call it back by curl command manually without duration time setting or default value.

[2016-12-02 09:02] marekcirkos commented on #393
Using "class name" it does not. However with xpath or predicate it should be possible

[2016-12-02 09:03] marekcirkos commented on #392
WDA should be able to launch and automate any app on the sim/devcie.

[2016-12-02 09:03] #392 closed

[2016-12-02 09:03] marekcirkos commented on #391
You should poke that question on fbsimctl repo

[2016-12-02 09:03] #391 closed

[2016-12-02 09:06] marekcirkos commented on #362
@AliNL @codeskyblue both cases are iOS 10?

[2016-12-02 09:07] marekcirkos commented on #335
Apple ways work with system alerts not sure if it will work with app alerts.

[2016-12-02 09:07] marekcirkos commented on #335
But we should check.

[2016-12-02 10:02] wjl025 opened #394 "./Scripts/bootstrap.sh error"
why I am git clone the last version WebDriverAgent,but run ./Scripts/bootstrap.sh

ime: 114ms
   [0] multi main 28 bytes {0} [built] [1 error]
    + 1 hidden modules

ERROR in ./js/app.js
Module parse failed: /Users/jialinwang/git/appium/node_modules/appium-xcuitest-driver/WebDriverAgent/Inspector/js/app.js Unexpected token (59:4)
You may need an appropriate loader to handle this file type.
Syntax

[2016-12-02 10:07] AliNL commented on #362
@marekcirkos Yes, mine is IOS 10.1

[2016-12-02 10:10] marekcirkos commented on #394
@wjl025 Can you checkout WDA separately and check if it is failing for you?

[2016-12-05 05:48] wjl025 commented on #394
@marekcirkos
success:
/Users/jialinwang/git/WebDriverAgent
fail:
/Users/jialinwang/git/appium/node_modules/appium-xcuitest-driver/WebDriverAgent

all checkout WDA separately, only path  differ

[2016-12-05 08:41] marekcirkos commented on #394
@wjl025 You should poke Appium guys it is clear that there is some difference here.

[2016-12-05 08:41] #394 closed

[2016-12-05 10:23] muratme commented on #372
any update about this issue?

[2016-12-05 10:24] wjl025 commented on #394
@marekcirkos
ok,thanks

[2016-12-06 07:14] prahlad06 commented on #372
Hi all,

Any update for  fixing of this issue. Our Automation is stuck due to this.

[2016-12-06 09:05] #393 closed

[2016-12-06 09:06] marekcirkos commented on #372
@prahlad06, @muratme Still in progress. You could help us by creating test case that will raise this issue in situation you are facing.

[2016-12-06 12:18] mykola-mokhnach commented on #372
This is what I did for my local source and I don't see that bloody error anymore. Please try this patch  for your local WDA sources and see whether the problem is fixed and there are no new issues pop up:

File WebDriverAgentLib/Categories/XCUIElement+FBIsVisible.m

replace the content of _(BOOL)fb_isVisible_ method with

[code]

[2016-12-06 12:19] mykola-mokhnach commented on #372
I'll create a PR if you confirm the fix works and does not create additional problems with visibility detection.

[2016-12-06 13:12] romainlouvet opened #398 "Test block Continuing to run tests in the background with task ID 1"
When I try to launch my Appium(1.6.2) test with this WDA (from master) with my real device(iPhone 7)

test blocked...

[debug] [WebDriverAgent] Device: Dec 5 10:20:09 iPhoneQA5SBlanc XCTRunner[4277] : Continuing to run tests in the background with task ID 1

[2016-12-06 14:39] ptsiakos77 opened #399 "Web Driver agent remains in state Listening on USB and the appium tests never start in real device."
The problem

Web Driver agent remains in state Listening on USB and the appium tests never start in real device.

Environment
Appium version 1.6.2:

I start the appium programatically in order to run test in real device using XCuiTest:
You can find attached the logs from test and WebDriverAgent as well

[Session-2016-12-06_15:48:18-DNbfdC.txt](https://github.com/facebook/WebDriverAgent/files/63412

[2016-12-06 15:10] mykola-mokhnach commented on #362
I can confirm it for tablet landscape mode.

[code]

This was supposed to click at the center of the corresponding element but clicked somewhere else instead.

[2016-12-06 15:11] mykola-mokhnach commented on #362
BTW, _/rect_ API call returns correct values for the element in landscape mode.

[2016-12-06 17:15] toejough commented on #372
ooh, I'll give this one a try today.

[2016-12-07 00:41] marekcirkos commented on #372
@mykola-mokhnach You will definitely have problems with iOS 9.x. As I already tried similar approach. Main problem was that lots of invisible cell were reported with frames in top right corner with proper size.

However I think in iOS 10.x it has good chance of working as Apple stopped reporting weird cell cases.

[2016-12-07 00:43] marekcirkos commented on #398
From mine experience this is Xcode issues. WDA is not even being executed at that time.
Rebooting host device and/or iPhone / iPad always fixed this issue.

[2016-12-07 00:44] marekcirkos commented on #399
From your logs it looks like WDA booted property and is waiting for requests.
If you can make request you should poke Appium guys.

[2016-12-07 00:47] marekcirkos commented on #362
@mykola-mokhnach Tapping at coordinates will probably not work. I patched only tapping elements using `click` command. I wanted to come up with more general approach rather than patching all places one by one, but didn't have time to do it.

[2016-12-07 00:49] marekcirkos commented on #370
@chsasaw I am not sure, there defiantly was a problem that, but I do not remember exactly what was it (It was over a year ago). @chsasaw Do you really care about changing it in repo?

[2016-12-07 07:52] mykola-mokhnach commented on #372
@marekcirkos What if we check the actual OS version and use the current approach for the old version only (9.X)? Anyway, more than 80% of WDA users already run their tests on 10.0+.

[2016-12-07 08:19] romainlouvet commented on #398
Same problem if restart device ... :(

I downgraded with Appium 1.6.1 (using old WDA) -> no problem

[2016-12-07 08:51] fenping opened #400 "how to use - (double)pinchInRect:(CGRect)arg1 withScale:(double)arg2 velocity:(double)arg3 orientation:(UIInterfaceOrientation)arg4 handler:(XCEventGeneratorHandler)arg5？"
when is use it ,throw EXC_BAD_ACCESS，all parameter is not nil

[2016-12-07 09:04] ptsiakos77 commented on #399
The strange think here is that the first time I run a test in a new device the test starts. Subsequent tests never start even if I remove the webdriver agent from the mobile device, restart the iphone or even restart my mac. I even reinstalled appium. I observed this behavior in 2 different devices so I don't think is coincidence.

[2016-12-07 09:25] VasilijSviridov opened #401 "Any ideas why alert_text doesn't work for me ?"
curl -X GET 'http://172.16.11.16:8100/session/66ADF8CF-D370-452E-AFC3-6C8FC24CC1B5/alert_text'

{
  "value" : "Unhandled endpoint: \/session\/66ADF8CF-D370-452E-AFC3-6C8FC24CC1B5\/alert_text -- http:\/\/172.16.11.16:8100\/ with parameters {\n    wildcards =     (\n        \"session\/66ADF8CF-D370-452E-AFC3-6C8FC24CC1B5\/alert_text\"\n    );\n}",
  "sessionId" : "66ADF8CF-D370-452E-AFC3-6C8FC24CC1B

[2016-12-07 10:17] hepilt commented on #398
With Appium 1.6.2 it works with iOS 9, but doesn't work with iOS 10, same message after launching

[2016-12-07 12:35] mykola-mokhnach commented on #399
This is a problem in the recent Appium code:
https://github.com/appium/appium/issues/7313#issuecomment-265429856

@marekcirkos please close

[2016-12-07 12:36] mykola-mokhnach commented on #398
Duplicate of https://github.com/facebook/WebDriverAgent/issues/399

[2016-12-07 12:37] mykola-mokhnach commented on #372
@toejough did the patch work for you?

[2016-12-07 14:29] tyutyunnykusa opened #402 "Failed to get snapshot for Table with 200 cells."
I have no ability to work with Table which contains 200 cells.
Please, advise!

Log:

2016-12-07 16:20:45.952404 XCTRunner[489:71350] Built at Dec  7 2016 15:49:28
2016-12-07 16:20:46.014124 XCTRunner[489:71350] ServerURLHere->http://10.10.28.5:8100<-ServerURLHere
2016-12-07 16:20:46.014895 XCTRunner[489:71350] Listening on USB
    t =   127.00s     Find the Application "local.pid.482" 0x1700b7f40

[2016-12-07 14:47] mykola-mokhnach commented on #372
@marekcirkos I did a small investigation on visibility detection. Actually, I see two problematic areas now.
The first situation is when an element is outside the viewport, like
![1](https://cloud.githubusercontent.com/assets/7767781/20971983/b88337cc-bc93-11e6-9234-e06f5b704aa7.png)
This can be potentially solved by analysing main window frame size and check whether it intersects with target elem

[2016-12-07 16:19] mykola-mokhnach commented on #372
We might also rely on _hittable_ option of **XCUIElement** class, but there is no such option for snapshots, which means we'll need to resolve the whole tree (or big part of it) to show visibility attribute value for /source command output or to generate an xml tree (since each node there also has visible attribute set), which is sloooow.

[2016-12-07 18:48] Blinkk commented on #372
@mykola-mokhnach I am also having this issue with some additional strange behavior and I am a bit confused.

I am able to locate and interact with an element using a custom method in one area of the application I am testing, but am seeing some strange behavior using almost identical methods in other parts of the application. Here is the method that works:
[code]

This selects a button from a small

[2016-12-07 20:39] marekcirkos opened #403 "Broken XPath"
After new xpath implementation was merged I noticed that some of our queries are failing.
E.G. `.//XCUIElementTypeSheet//XCUIElementTypeButton[@name="Forgot Password?"]` query nukes WDA down.
@mykola-mokhnach Can you have a look?

[2016-12-07 20:42] marekcirkos commented on #402
Could elaborate on queries you are making?

[2016-12-07 20:43] #398 closed

[2016-12-07 20:45] marekcirkos commented on #401
You should use `../alert/text` instead. https://w3c.github.io/webdriver/webdriver-spec.html#get-alert-text

[2016-12-07 20:45] #401 closed

[2016-12-07 20:48] marekcirkos commented on #400
WDA does not support that right?
Regardless, I have no idea how you are calling so I can't really help you here. I would bet on bad `arg5` as it is callback block

[2016-12-07 20:48] #400 closed

[2016-12-07 21:45] mykola-mokhnach commented on #403
There might be two potential problems in this xpath:
- remove leading dot character
- replace double quotes with single quotes

Let me know which one helps

[2016-12-07 21:47] mykola-mokhnach commented on #403
Also, there should be detailed description of the problem in device logs, which libxml2 itself generates if it does not like a query.

[2016-12-07 21:54] marekcirkos commented on #403
It looks like it crashes WDA in a hard way. We should be able to handle this query regardless of double quotes or dot. Easies way would be to add unit/integration test with that particular request.

[2016-12-07 21:56] mykola-mokhnach commented on #403
that's unfortunate :(
OK, I'll prepare a test tomorrow

[2016-12-07 22:11] mykola-mokhnach commented on #403
This was an [easy one](https://github.com/facebook/WebDriverAgent/pull/404/files). Thanks for the hint 👍

[2016-12-08 09:58] tyutyunnykusa commented on #402
I opened view with  this huge Table on my iPhone device and refreshed Inspector in browser.

[2016-12-08 10:17] marekcirkos commented on #402
`Error getting main window -25204` usually shows when we query application that is not active anymore. Does it still happen you wait a bit before opening inspector.

[2016-12-08 15:30] VasilijSviridov opened #407 "ServerUrl"
Is there any possibility to fetch ServerUrl ?
As example on iOS 9.3 real device there is XCUIT log which says ServerUrl:8100, while on 10.1 real device there is no such message ?

It would be really easy if we could get ServerUrl before starting app session.

[2016-12-08 19:01] jediboy commented on #372
So for me, I've narrowed this issue down to table views that do paginated scrolling. We hit the server for the first 10 rows of data for the table and as you scroll down we hit the server to get the next 10 rows and so on until all of the rows have been retrieved.

From what I can tell, there seems to be some sort of automatic scrolling happening behind the scenes that is attempting to scroll the

[2016-12-08 19:15] mykola-mokhnach commented on #372
@jediboy I've prepared a [PR](https://github.com/facebook/WebDriverAgent/pull/369), which allows to wait properly until an animation is finished to avoid hardcoded timeouts. You can try to apply that patch to your local codebase and check whether it solves the issue with your tests.

[2016-12-08 20:53] jediboy commented on #372
Thanks @mykola-mokhnach .. assuming I applied the PR correctly, I'm still seeing that message in the log. Any idea why it's trying to do that auto scrolling of the view? My test is trying to tap on the first cell in the table but it's super slow because it loading every cell before it tries to tap the cell that I want.

[2016-12-09 02:24] fenping commented on #400
I want to achieve pinch event，You can try to help achieve it?

[2016-12-09 02:33] jessezyl commented on #407
Or you can connect your device over USB cable, map the device url to localhost, here there is a tool
`iproxy`:https://github.com/libimobiledevice/libusbmuxd

it's easy to use:
`iproxy local_port remote_port device_udid`
`e.g: $ iproxy 8100 8100 abcdefghijklmabcdefg01234567890123456789`

[2016-12-09 07:39] mykola-mokhnach commented on #372
@jediboy It's not just enough to apply it. You need to call this API before you do element lookup to make sure the animation is finished. It just allows to replace hardcoded sleeps with timed sleeps.

Regarding scrolling. WDA will try to automatically scroll to reach the destination cell if you try to click it and it is currently invisible. So try to scroll the view yourself first to make sure the

[2016-12-09 08:43] debbie-qin opened #408 "when install the WebDriverAgent,it failed with "Failed at the web-driver-inspector@1.0.0 build script 'webpack --progress --colors'.""
Here is the log:
UNKNOWN-10-89-105-X:WebDriverAgent cd XX$ ./Scripts/bootstrap.sh
Fetching dependencies
Building Inspector
Creating bundle directory...
Building inspector.js...

sh: webpack: command not found

npm ERR! Darwin 16.1.0
npm ERR! argv "/usr/local/Cellar/node/6.3.1/bin/node" "/usr/local/bin/npm" "run" "build"
npm ERR! node v7.2.1
npm ERR! npm  v3.10.10
npm ERR! file sh
npm ERR! code ELI

[2016-12-09 08:48] debbie-qin commented on #408
Besides, I have installed the webpack agian...   then keep the same error.

[2016-12-09 08:51] VasilijSviridov commented on #407
interesting =)

Thank you @jessezyl , I will try use your suggested method.

Cheers

[2016-12-09 08:56] VasilijSviridov commented on #407
Waw working as expected without delays.

Thank you @jessezyl

[2016-12-09 09:16] VasilijSviridov commented on #407
@jessezyl any ideas if for example I would like to proxy 1+n devices ?

Sincerely

[2016-12-09 10:04] marekcirkos commented on #400
@fenping I can't help you if you will not give more information.

[2016-12-09 10:07] marekcirkos commented on #407
@VasilijSviridov  You will definitely find logs on device logs and on xcodebuild output depending on Xcode version. However `iproxy` is the best way to go.

According many devices you should just run WDA on different ports by passing `USE_PORT` env or `--port` argument

[2016-12-09 10:07] #407 closed

[2016-12-09 10:08] marekcirkos commented on #408
@debbie-qin Can you try fetching WDA independently from this repo and running `./Scripts/bootstrap.sh` ? I know there is some magic appium does with WDA that sometimes breaks it.

[2016-12-09 10:47] VasilijSviridov commented on #407
Sounds good to me,

Cheers

[2016-12-10 02:06] KBhatti commented on #316
Anyone have a solution for this yet?

[2016-12-10 02:28] KBhatti commented on #372
@mykola-mokhnach what if the cell is currently visible but I still see this issue? Is that also something WDA is trying to come up with a fix for? Also, any ETA for that please?

[2016-12-10 19:33] marekcirkos commented on #372
@KBhatti Less problematic visibility check is definitely what we want to achieve. However most likely it will take some time. As everything in OpenSource there is no ETA for this as people spend their private live time on this. Feel free to join discussion or pop some PRs, if you have some ideas.

[2016-12-12 08:40] mykola-mokhnach commented on #362
@codeskyblue  Can you try to apply this [patch](https://github.com/facebook/WebDriverAgent/issues/411) and check whether it fixes landscape clicking issues for you?

[2016-12-12 13:31] muratme commented on #372
`[Xcode] 2016-12-12 16:30:50.398 xcodebuild[68192:3423372] Error Domain=IDETestOperationsObserverErrorDomain Code=5 "Early unexpected exit, operation never finished bootstrapping - no restart will be attempted" UserInfo={NSLocalizedDescription=Early unexpected exit, operation never finished bootstrapping - no restart will be attempted}

[Xcode]
Testing failed:
	Test target WebDriverAgentRunner enc

[2016-12-12 17:50] marekcirkos commented on #372
@muratme  That is unrelated. This is Xcode issue starting XCUITest.

[2016-12-12 18:29] mykola-mokhnach commented on #372
For now I come up with this quick and dirty verification for visibility detection:

[code]

this also includes a workaround for XCTest bug with landscape mode. No more unexpected delays. The only problem there is that this verification cannot detect cases when one element covers another one in the UI (see my comment above with the screenshots). Probably, it would not be the case, if XCTest could p

[2016-12-12 22:03] patotskiy commented on #402
I have same issue on iPhone and iPad:

`[debug] [WebDriverAgent] Sim: Dec 13 00:50:08 Yauhenis-MacBook-Pro XCTRunner[40797]: Enqueue Failure: UI Testing Failure - Failure getting snapshot Error Domain=XCTestManagerErrorDomain Code=9 "Error getting main window -25204" UserInfo={NSLocalizedDescription=Error getting main window -25204} <unknown> 0 1
[debug] [WebDriverAgent] Sim: Dec 13 00:50:24 Yauhe

[2016-12-13 01:54] codeskyblue commented on #362
@mykola-mokhnach only tested your code in iOS9.3.5 iPhoneSE. it works.

[2016-12-13 12:46] sixleaves opened #413 "i found there is a memory leak about peertalk framework"
hi, when i use wda and communicating use you provided FBHTTPOverUSBClient, at beginning every thing is ok, but about 3 miniutes.the client crashed about memory leak of FBHTTPOverUSBClient.that is peertalk, i don't know how to solve this.

![2](https://cloud.githubusercontent.com/assets/3601210/21140875/3ad84c40-c175-11e6-9994-6f4b7402b6a9.png)

[2016-12-13 13:13] derinbay commented on #372
That's working. Thanks for the workaround.

[2016-12-13 19:55] KBhatti commented on #372
@derinbay did you have to make that code change within the Appium code, or your app's source code?

[2016-12-13 20:21] derinbay commented on #372
@KBhatti I've changed the WebDriverAgent code that @mykola-mokhnach mentioned on the his last comment. The file is at /usr/local/lib/node_modules/appium/node_modules/appium-xcuitest-driver/WebDriverAgent/WebDriverAgentLib/CategoriesXCUIElement+FBIsVisible.m

[2016-12-13 20:27] KBhatti commented on #372
so @mykola-mokhnach I think we could do this change on our local machines...but if we run the same tests on a CI tool (Travis CI VM) for instance..this may not be doable?

[2016-12-13 20:32] derinbay commented on #372
This is just a workaround for you to continue development. You need to change this code line on all computers with appium on ci infrastracture, manually. If you have hundreds, you can try to fork the project and give that dependency. Or you can wait a for a fixed version.

[2016-12-13 20:36] KBhatti commented on #372
Thanks @derinbay yeah seems to be enough work..I think from what I know..no one knows of any timeframe of when Appium would come out for a fix for this..

[2016-12-13 22:56] jlipps commented on #372
@KBhatti in this case it's not an Appium issue. We're waiting on a fix in this project. If you want to help research a fix, that'd be helpful.

[2016-12-14 02:28] bootstraponline opened #414 "Does FB use WebDriverAgent to test react native UI?"
I'm looking into react native UI testing. I'm wondering what does FB use to write iOS UI tests?

I'm aware of the snapshot tests ([ios-snapshot-test-case](https://github.com/facebook/ios-snapshot-test-case)).

[2016-12-14 09:16] VasilijSviridov commented on #407
@marekcirkos could you suggest, I am trying to pass USE_PORT parameter:
 xcodebuild -project WebDriverAgent.xcodeproj  -scheme WebDriverAgentRunner 'USE_PORT=8101'  -destination 'id=xxxxxxxxxxxxxxxxxxx'  test
Build settings from command line:
    USE_PORT = 8101

But on device I still see that ServerUrl started with default port 8100 , any ideas what's wrong ?

[2016-12-14 21:20] toejough commented on #394
some additional info:

I recently ran into this again, and did an experiment - I copied the Appium WDA up to my home directory and ran the boostrap, and everything worked.

This tells me there's no actual version difference - the failure must somehow stem from WDA being nested inside of appium's directory structure.  That indicates that the bootstrap script is sensitive to files/dirs in the enclos

[2016-12-14 21:27] KBhatti commented on #372
@jlipps does 1.6.3 fix this issue as well? I guess this is what I was referring to on the other thread.

[2016-12-14 21:31] jlipps commented on #372
I don't believe that @mykola-mokhnach's hack is in Appium. It would first need to be published in WDA.

[2016-12-14 22:55] marekcirkos commented on #394
@toejough That might be related to npm, guess appium use it as well.

[2016-12-14 22:56] marekcirkos commented on #407
@VasilijSviridov can you try:

`env USE_PORT=8101 xcodebuild -project WebDriverAgent.xcodeproj -scheme WebDriverAgentRunner -destination 'id=xxxxxxx' test`?

[2016-12-14 22:58] marekcirkos commented on #407
Oh wait, that will work with sims. For devices most likely you will need to modify scheme and edit env there.

[2016-12-14 22:58] marekcirkos commented on #414
You can definitely use WDA to test react native apps, as they use native views anyway. This mean that most label and name locators will work.

[2016-12-14 23:02] marekcirkos commented on #372
@mykola-mokhnach This is awesome. visibility checks didn't work with views being covered by other views anyway. Can you pop a PR? I'll check that on our tests as well.

[2016-12-14 23:07] mykola-mokhnach commented on #372
@marekcirkos I'd like to have this [PR](https://github.com/facebook/WebDriverAgent/pull/411) merged first, since the current implementation looks a bit ugly with this orientation workaround. And the mentioned PR contains one useful method to make it looking better: _ FBAdjustDimensionsForApplication_

I would very appreciate it if you could dedicate some time to review at least this PR.

[2016-12-14 23:39] bootstraponline commented on #414
Right, I'm trying to find out what FB itself uses so I won't have a lot of problems. The best I can tell from the [238+ comment E2E PR](https://github.com/facebook/react-native/pull/9942) is that FB's solution for [E2E testing react-native apps isn't open source.](https://github.com/facebook/react-native/pull/9942#issuecomment-259588213)

I also don't think there's much harmony between the WDA end

[2016-12-15 05:46] tyutyunnykusa commented on #402
marekcirkos, yes it happens if I wait some time before launching Inspector, application is active.

[2016-12-15 09:20] marekcirkos commented on #414
@bootstraponline Those are android specific problems. WDA works on iOS devices only and as I mentioned it will work with ReactNative written app.

[2016-12-15 13:12] VasilijSviridov commented on #407
got it @marekcirkos

Thank you for your help

[2016-12-15 14:07] bootstraponline commented on #414
will work with != used by FB.

[2016-12-15 14:07] #414 closed

[2016-12-15 15:10] bootstraponline commented on #414
I found a thread from a year ago. It looks like there's an internal only solution for iOS as well.

[2016-12-15 15:43] marekcirkos commented on #414
@bootstraponline you may think that I couldn't possibly comment

[2016-12-15 20:19] hoverduck opened #415 "Agent returning 200 instead of 500 when unable to rotate iOS device"
This issue was originally raised on the Appium project, here: https://github.com/appium/appium/issues/7442

When attempting to change the device orientation on an app that doesn't support it, the response code from WebDriverAgent is 200, when it should be 500.  This is causing a crash downstream in Appium when the simulator doesn't actually rotate.

[2016-12-15 22:37] jlipps opened #416 "WDA should use the 'accessibility id' locator strategy instead of 'name'"
Appium deprecated the 'name' locator strategy years ago, but it appears it's being supported by WDA, which is confusing some Appium users. According to [the spec](https://github.com/SeleniumHQ/mobile-spec/blob/master/spec-draft.md) we should be using the accessibility id locator strategy.

Internally, it can certainly map to the 'name' property of XCUI elements.

If you guys don't want to make thi

[2016-12-16 09:30] marekcirkos commented on #416
I think we do support `accessibility id` -> https://github.com/facebook/WebDriverAgent/blob/master/WebDriverAgentLib/Commands/FBFindElementCommands.m#L115

Tho you are right that, Inspector e.g will show `name` attribute.

[2016-12-16 11:20] marekcirkos commented on #413
How do you know it is memory leak?

[2016-12-16 13:22] dcaric opened #417 "WebDriverAgent and libmobiledevice issue"
Hi I have problem with starting APP on the real device.
Environment:
macOS Sierra 10.12.2
iOS 10.2
Xcode 8.2

[Appium] Creating new XCUITestDriver session
[Appium] Capabilities:
[Appium]   app: '/Users/dariocaric/Library/Developer/Xcode/DerivedData/iSierra-fcsvktyeauaajeawtcwmodifinjc/Build/Products/Debug-iphoneos/MediaFirst.app'
[Appium]   appium-version: '1.6.3'
[Appium]   realDeviceLogger: '/us

[2016-12-16 14:13] marekcirkos commented on #417
@dcaric You should post that question on appium, WDA it self does not use libmobiledevice, but Appium most likely does to manage device.

[2016-12-16 18:18] dcaric commented on #417
Ok I did already, thx!

[2016-12-19 07:23] sixleaves opened #419 "i cannot use inspector"
hi, @marekcirkos    i build wda, and install it to iphone but i use usb method for communicating.
when i use this method to call inspector, it cannot success, and return the error, about error domin, and code -1.

    `NSString *endPoint = [NSString stringWithFormat:@"/inspector"];
       dispatch_semaphore_t signal = dispatch_semaphore_create(0);
        [self dispatchMethod:kWDGET endpoint:endPo

[2016-12-19 22:17] sapieneptus commented on #213
@imurchie Curious, has the issue been persistent? Was it on a particular device make/model ?

[2016-12-20 05:20] wangtao169447 commented on #372
Hi all,

Any update for fixing of this issue. Our Automation is stuck due to this.

hoping for your help,thx

[2016-12-20 06:12] #413 closed

[2016-12-20 14:16] toejough opened #420 "add the rawIdentifier to the XML page source"
I'm digging around the code to see where I might submit a PR, but I'd like to request that the rawIdentifier get added to the XML page source.

I use the page source command quite liberally to get a bunch of screen context all at once, and my dev team has started using the rawIdentifier more frequently, and I don't have access to it through the page source.  At the moment, the 'name' field gets se

[2016-12-20 18:11] imurchie commented on #213
I haven't seen this in a while, no. As the original details showed, it was a real iPhone 6 running 9.3.3.

[2016-12-21 12:30] Siddh010 opened #421 "Where can we change response time from WDA to appium server"
Response from WDA side taking more time . I got this message  "Encountered internal error running command: ProxyRequestError: Could not proxy command to remote server. Original error: Error: ESOCKETTIMEDOUT"

Currently it is taking around "240304 ms " i,e 4 min approx to get response.

[HTTP] <-- POST /wd/hub/session/2a09db5f-84fd-4dda-bade-5217a12394b5/element/8CCFAA0C-D972-468F-88F8-AAC03DDC95C1

[2016-12-21 18:34] wfanforever opened #422 "Identifier support in predicate string"
Latest wda added the predicate verification, how to use the predicate string to check that identifier not contains a certain value?

Previous we can use ios predicate string and pass the value: `not (identifier contains 'xxx' or identifier contains 'xxxx') `?

\

[2016-12-22 01:43] chsasaw commented on #370
@marekcirkos  Yes, it is important to me. It decides the devices I can connect.

[2016-12-22 03:52] KBhatti commented on #372
@marekcirkos @mykola-mokhnach are we planning to have this PR merged anytime soon? If so..is it going to be with Appium 1.6.4 or something?

[2016-12-22 08:40] dreamereric opened #423 "Some questions about how to unlock app by gesture"
Help.
I have some questions about how to unlock app by gesture.
Well, i read the code(wda && XCUIElement's categories), but i still have no idea.

[2016-12-22 10:15] jibingli opened #424 "xcodebuild failed in real devices: dyld: Library not loaded: @rpath/XCTest.framework/XCTest"
Help!
failed to run WDA in real devices with follow command, but it is OK when destination is simulator.

command:
xcodebuild build test -project ./WebDriverAgent.xcodeproj -scheme WebDriverAgentRunner -destination 'id=ae7a94577f4832e37756a7b8080e655e8ebe2469' -configuration Debug

log:
=== BUILD TARGET WebDriverAgentRunner OF PROJECT WebDriverAgent WITH CONFIGURATION Debug ===

Check dependencies

[2016-12-22 10:35] jibingli commented on #424
use xcode 8.2.1, ios 10.2

[2016-12-22 10:40] testobjectnishant opened #425 "WebDriverAgentLib Integration"
I am trying to integrate WebDriverAgentLib in the fresh wrapper application project but getting following error while running the application on phone:

`dyld: Library not loaded: @rpath/Peertalk.framework/Peertalk
  Referenced from: /private/var/containers/Bundle/Application/5E6862A7-B629-454D-A6D9-685CDC8A31AC/TestObjectExtension.app/Frameworks/WebDriverAgentLib.framework/WebDriverAgentLib
  Rea

[2016-12-22 22:07] benzhou29 commented on #422
I am seeing same issue it seems like the use of "identifier" does not work anymore. Even something simple like 'identifier == "xxx"' does not work anymore. I hope there is an alternative.

[2016-12-23 03:19] nhanvpt102 commented on #424
- run the command './Scripts/bootstrap.sh' and try again.

[2016-12-23 03:35] nhanvpt102 commented on #303
Use "UIInterfaceOrientation orientation = request.session.application.interfaceOrientation;"
to detect the status of screen and return the Width/Height accordingly. It works fine.

+ (id<FBResponsePayload>)handleGetWindowSize:(FBRouteRequest *)request
{
    CGRect frame = request.session.application.wdFrame;

    NSNumber *width = @(CGRectGetWidth(frame));
    NSNumber *height = @(CGRectGetHeight(

[2016-12-23 04:17] jibingli commented on #424
@nhanvpt102 thank you for your suggestion, error happened again.
log:
Fetching dependencies
Building Inspector
Creating bundle directory...
Fetching Inspector dependencies...
npm WARN react-treeview@0.4.6 requires a peer of react@>=0.14.0 but none was installed.
npm WARN web-driver-inspector@1.0.0 No repository field.
Building Inspector...

Hash: 464241247f16d853b410
Version: webpack 1.14.0
Time:

[2016-12-23 05:04] Siddh010 commented on #421
I am facing similar issue : -
http://stackoverflow.com/questions/23925284/how-to-modify-the-nodejs-request-default-timeout-time

https://nodejs.org/api/http.html#http_server_timeout : - server.timeout Default = 120000 (2 minutes)

[debug] [MJSONWP] Responding to client with driver.findElement() result: {"ELEMENT":"BCAB503D-D9E7-4A5D-8443-FE56CB28E626","type":"XCUIElementTypePickerWheel","label":nu

[2016-12-26 04:40] miaomiao413 commented on #424
i have the same problem

[2016-12-26 06:39] AllocAndInit commented on #424
what happend ?  I come across the same problem just today ,is there any solulation ?

[2016-12-26 09:28] debbie-qin opened #428 "When install WebDriverAgent, it failed with "ERROR in ./js/app.js""
First : git clone https://github.com/facebook/WebDriverAgent.git
Here is the detail log:
cd-xx-xxxx:WebDriverAgent xxx $ sudo ./Scripts/bootstrap.sh
Password:
Fetching dependencies
Building Inspector
Creating bundle directory...
Fetching Inspector dependencies...
npm WARN deprecated minimatch@2.0.10: Please update to minimatch 3.0.2 or higher to avoid a RegExp DoS issue
npm WARN deprecated css-lis

[2016-12-26 09:29] debbie-qin commented on #408
I have tryed again, but now it failed with another issue.....here is the link:

[2016-12-26 12:30] AllocAndInit commented on #424
Does there anyone who knows how to solve this problem ?

[2016-12-26 13:08] patotskiy commented on #402
any updates?

[2016-12-26 15:08] wwjackli opened #429 "UITestingUITests testRunner stop at Set up on ios 10.2"
Help
when testRunner stop at step of set up on ios 10.2(iphone7=), it work on ios 9.1 (iphone6+)
thanks

INFOMATION
Device:iphone 7+
Model:MNQP2KH/A
OS:10.2

LOG
2016-12-26 23:58:01.676 xcodebuild[2151:36590]  IDETestOperationsObserverDebug: Writing diagnostic log for test session to:
/Users/jackli/Library/Developer/Xcode/DerivedData/WebDriverAgent-euybcxucqlktejefdqfqdkijmwjt/Logs/Test/4C025021-7

[2016-12-27 02:53] debbie-qin commented on #424
Same problem- -

[2016-12-27 06:39] AllocAndInit commented on #424
@jibingli  @miaomiao413  http://www.jianshu.com/p/b6b2fc31eb2a 这个链接解决了我的问题，不知道对你们有没有用，你们可以试试看

[2016-12-27 08:46] huanglik commented on #429
me too.   using xcodebuild to launch wda it will stuck at set up.
               using xcode to launch wda it is ok
so i can not  using appium or any other client for wda now

[2016-12-27 09:21] miaomiao413 commented on #424
Xcode, Product->Clean,solves my problem

[2016-12-27 11:23] huanglik commented on #402
I have same issue too, when get snapshot for Table with 200 cells, it takes too long .
So find elements or using inspector takes so long time to return (almost a few mins )
thus it reduces test efficiency so much。
please try to fix this for WDA？

[2016-12-27 13:49] Siddh010 commented on #421
Hi please let me know where can we change response time from WDA to appium server. Right now it is taking 240000 mill second.
 Thanks
 Siddharth

[2016-12-27 19:57] dduphorn commented on #316
I'm having the same issue with a pickerWheel.  Has anyone figure out a fix?  Appium 1.6

[2016-12-27 21:41] dduphorn opened #430 "Appium 1.63-PickerWheel-this class is not key value coding-compliant for the key wdValues."
I'm having the same issue with a pickerWheel. Has anyone figure out a fix? Appium 1.6

{"status":0,"value":{"build":{"version":"1.6.3","revision":"2176894a5be5da17a362bf3f20678641a78f4b69"}},"sessionId":null}**

When I execute:

MobileElement objUIAPickerWheel = iosdriver.findElement(By.xpath("//XCUIElementTypePicker[1]//XCUIElementTypePickerWheel[1]"));

objUIAPickerWheel.getAttribute("values");

[2016-12-27 22:06] dduphorn commented on #430
I guess I don't eve  need objUIAPickerWheel.getAttribute("values");

try{objUIAPickerWheel.sendKeys(strListboxValue);}
catch(Exception a) {}

[2016-12-27 22:06] #430 closed

[2016-12-28 05:49] Dineshk1 commented on #417
I'm also facing the same issue. Did u get the solution for this?

[2016-12-28 20:02] ericmedvec commented on #384
Hi. Any movement on this one? Seems to be a lot of people experiencing this issue.

[2016-12-28 22:29] ohadschn commented on #335
If this turns out to be possible, providing some hooks into this behavior as to allow the user to decide whether to intercept the alert or not, would be great. This, as opposed to blindly dismissing all alerts, some of which I might expect and want to handle in some specific manner on my own.

In other words, have a hook that provides me with some information on the alert (e.g. title, text, button

[2016-12-29 06:13] sixleaves opened #431 "while i use popen auto build WDA, it stucks"
can u help me? i use popen function(C) for building WDA, but it always stucks while output '==== Successfully wrote Manifest cache to', i very confuse.......

[2016-12-29 08:42] #431 closed

[2016-12-29 08:43] #419 closed

[2016-12-29 10:45] zoutingapple commented on #267
IOS version 9.3.5,Xcode 8,also show this issue,i should how to do,I tried the above method.
-------------------------------------------------------------------------------------------
macaca.webdriverexception.WebDriverException:
Error: WebDriverError.UNKNOWN_ERROR
Message: Error Domain=com.facebook.WebDriverAgent Code=1 "Timeout waiting for keybord to stop animating" UserInfo={NSLocalizedDescript

[2016-12-29 16:35] limitcracker opened #432 "iOS App crashes after calling window().getSize() - Appium 1.6.3 - XCUITest"
**The problem**

I go to a screen that is our Sing Out screen. When I go by hand and perform actions app doesn't crash, but when I call window().getSize() or any other method via appium on that screen the app crashes.

**Environment**

Desktop OS/version used: MacOS
Mobile platform/version under test: iOS 10.2 on
Real device or emulator/simulator: real(iPhone 6 Plus) and emulator
Test platform: Ap

[2016-12-29 22:04] mykola-mokhnach commented on #422
try

[code]

[2016-12-29 22:13] mykola-mokhnach commented on #420
I don't see any property in XCUIElementAttributes protocol, which allows to read _rawIdentifier_. We can only use the stuff, that Apple's XCTest framework provides to us.

[2016-12-29 22:19] mykola-mokhnach commented on #402
I had similar problem in our tests. UI just freezes at some point and it was not possible to tap anything unless WDA is terminated at all. The source of the problems lies in this XCTest bug: http://www.openradar.me/25623858

Replacing all usages of NSMutableAttributedString in the corresponding UI view solved the problem.

[2016-12-29 22:22] mykola-mokhnach commented on #425
First you need to download third-party dependencies using Carthage.
Just execute

[code]

[2016-12-30 11:46] marekcirkos commented on #417
This is not related to WDA. We do not use libmobiledevice.

[2016-12-30 11:46] #417 closed

[2016-12-30 13:56] #399 closed

[2016-12-30 13:57] #403 closed

[2016-12-31 08:24] codeskyblue commented on #362
@marekcirkos any progress on this issue?

[2017-01-02 11:50] testobjectnishant commented on #425
I have already did it. It works fine when I run it directly but it gives the above error while I integrate it as Library project in another project.

[2017-01-03 13:26] jeangb commented on #316
I have the same issue, I don't know what's inside the code, but indeed it's possible to load more data when scrolling to the top.
I'be interested to a solution to avoid to change the code.

[2017-01-03 18:36] tylerrrrrr opened #433 "Multiple instances of WebDriverAgent on a single device/simulator"
Hello

My question is related to https://github.com/facebook/WebDriverAgent/issues/216 but with a test case in mind.

My goal is to automate app A, which then launches app B to then verify/interact with it, then finally return to resuming the previous session for app A. WDA currently has one total instance running, so when trying to resume back to app A, that session no longer exists since session

[2017-01-04 02:26] debbie-qin commented on #428
Someboby help me?

[2017-01-04 07:10] codeskyblue opened #434 "WDA crashes after running for some time."
This is log from command line. iPhoneSE 10.2

[code]

[2017-01-05 01:35] KBhatti commented on #372
@mykola-mokhnach I know we can apply this patch locally but any idea if any future release of Appium will include this? Only reason I ask is that I would want to run this on CI as well..other than just locally.

[2017-01-05 15:22] marekcirkos commented on #303
@nhanvpt102  You mean check orientation and then replace coordinates?

[2017-01-05 15:23] #352 closed

[2017-01-05 15:24] marekcirkos commented on #368
@Royshcn Please let us know if it helped.

[2017-01-05 15:26] marekcirkos commented on #372
@KBhatti We don't have proper solution yet.

[2017-01-05 15:27] marekcirkos commented on #384
@ericmedvec, @bearxc I am happy to review a PR if you have one :)

[2017-01-05 15:28] marekcirkos commented on #402
There not much we can do as TestManager it-self is slow in querying elements.

[2017-01-05 15:29] marekcirkos commented on #408
@debbie-qin I assume this one is resolved? Feel free to reopen if that is not true

[2017-01-05 15:29] #408 closed

[2017-01-05 15:33] marekcirkos commented on #415
Feel free to pop a PR :)

[2017-01-05 15:35] jpsalada commented on #429
same problem here.

[2017-01-05 15:36] marekcirkos commented on #420
Inspector has 'rawIdentifier' identifier that returns unmodified name identifier property. However @toejough I don't understand why you can't use name or identifier? It guarantees WD spec compliance, rawIdentifier is whatever Apple wants to return.

[2017-01-05 15:38] marekcirkos commented on #421
@Siddh010 You should poke that question to appium repo. WDA is only used by Appium.

[2017-01-05 15:38] #421 closed

[2017-01-05 15:38] marekcirkos commented on #422
@mykola-mokhnach Shouldn't we translate `name` to `wdName` ?

[2017-01-05 15:39] marekcirkos commented on #423
@dreamereric What do you mean by unlock app gesture?

[2017-01-05 15:41] marekcirkos commented on #424
Is it still an issue? @jibingli You second log looks correct.

[2017-01-05 15:43] marekcirkos commented on #425
@testobjectnishant you need to add WDA's dependencies to your project as well, meaning `.frameworks` from `Carthage/Build/iOS`. Make sure to run `./Scripts/bootstrap.sh` beforehand.

[2017-01-05 15:43] #425 closed

[2017-01-05 15:45] marekcirkos commented on #428
@debbie-qin Can you try:
1) Deleting `Inspector/node_modules`
2) Updating `npm` and `node`?

Also can you tell me which version of `npm` and `node` do you have?

[2017-01-05 15:47] marekcirkos commented on #429
This is TestManager issue in Xcode. I am not joking can you try restarting your computer?

[2017-01-05 15:55] marekcirkos commented on #432
It crashes during collection of accessibility information. That means that it will also crash when application is launched in accessibility mode. It is either Apples bug or you are using same selector that apple uses in injected categories. I had similar issues and in my case it was proper named 'viewDelegate'. Renaming it fixed the issue.

[2017-01-05 15:59] marekcirkos commented on #433
The fact that WDA holds one session shouldn't be a problem for you. You can
1) Start sessions #1 with app A and do some stuff,
2) Start session #2 with app B,
3) Start another session #3 with app A and keep doing it.

Other approach could be simply navigating to springboard and re-activating first app. WDA will still work as it will use active application if session's one is inactive.

[2017-01-05 16:02] marekcirkos commented on #434
Does it just die during interaction or this is after some time of being inactive? If it is due to inactivity you can use `/healthcheck` endpoint to keep it active. This will significantly increase its lifetime.

[2017-01-05 16:08] mykola-mokhnach commented on #422
@marekcirkos Current code is designed to support both: 'wdName' and 'name'. The 'wd' pefix will be added automatically in such case.

[2017-01-05 17:03] marekcirkos commented on #370
I think this is Xcode version specific than and not iOS. Feel free to pop a PR

[2017-01-05 18:40] sergey-plevako-badoo opened #435 "dragfromtoforduration execution time when UIAlert appears on the screen"
I am using Appium 1.6.3 which calls dragfromtoforduration of WebDriverAgent.
The problem is, when the UIAlert appears on the screen it seems to affect the execution of the dragfromtoforduration action. It takes 03:10:26:047 - 03:08:23:411 (~ 2 minutes) until the next command shows up in the Appium log which is quite slow.
[code]
When there is no alert showing up the response time is much faster:
[

[2017-01-05 19:11] TeresaP opened #436 "Licensing"
If someone wants to use the PrivateHeaders/XCTest files in a (non-shipping) project, does the license from https://github.com/facebook/WebDriverAgent/blob/master/LICENSE apply and should it be copied to the folder containing the .h files?

[2017-01-05 19:48] KBhatti commented on #372
@marekcirkos that is fine I understand I can workaround with @mykola-mokhnach solution locally for the time being (I'm thinking thats what a lot of the folks are doing anyway). But whenever we do have a proper solution is it going to be part of a future Appium release?

[2017-01-05 20:42] tylerrrrrr commented on #433
Interesting. Our suite uses Appium(1.6.3), and the driver for App A & B are stored. When going back to app A, I switch drivers no problem but WDA current session is pointing to app B. Is there a way to start a new WDA session for app A with Appium(or programmatically) during a test?

[2017-01-06 02:51] debbie-qin commented on #428
@marekcirkos Thank you for your advice ,but I have delete Inspector/node_modules, it failed again with same error. When it building the Inspector, it failed.Maybe Inspector is the problem.
npm -version: 3.10.9
nod -version: v7.2.1

[2017-01-06 05:22] jibingli commented on #424
try AllocAndInit's solution, fixed now!

[2017-01-06 05:22] #424 closed

[2017-01-06 07:30] xiaoningz commented on #428
@marekcirkos  I met the same problem when run Script/bootstrap.sh command.
npm version: 3.10.9
node version: 6.9.2

It used to success, but after I update the appium-xcuitest-driver through npm update command to version @2.5.2, and run the  Script/bootstrap.sh  would failed

[2017-01-06 08:43] nairouz12 opened #438 "tap is not working"
tap is not working for me with appium 1.6.3 with appium_console: v2.0.1 and appium_lib: v9.1.2 in this case:
I have a XCUIElementTypeAlert displayed on my screen
these are the coordinates of my XCUIElementTypeAlert: x=52, y=263, h=141, w=271
and this is the size of my screen where XCUIElementTypeAlert is displayed: height = 667, width = 375
I want to tap outside XCUIElementTypeAlert, it does not g

[2017-01-06 10:23] marekcirkos commented on #436
You can generate them your self with `class-dump`.

[2017-01-06 10:24] marekcirkos commented on #372
If they pick it up, yes :)

[2017-01-06 10:26] marekcirkos commented on #433
You don't need to. Even if you start session with some app A. You can still operate other applications if you navigate to them your self.

[2017-01-06 10:34] marekcirkos commented on #438
Do you tap it on portrait or landscape orientation?
Otherwise without knowing what WDA endpoint with what attributes was executed, I can't really help you here.

[2017-01-06 10:34] marekcirkos commented on #435
Can you supply device logs?

[2017-01-06 10:51] marekcirkos commented on #428
I use npm -v: 3.10.10,  node -v: v6.9.4, so it should be fine. However from what you are saying I understand that you run it inside appium? Can you try fetching WDA separately and running bootstrap there?

[2017-01-06 12:56] nairouz12 commented on #438
curl -X POST $JSON_HEADER \
-d "{\"x\":\"0\",\"y\":\"187.5\"}" \
$DEVICE_URL/session/$SESSION_ID/tap/0

[2017-01-06 16:37] vjmaiky commented on #428
hello; i have the same problem:

admins-Mac-mini:WebDriverAgent jenkins$ ./Scripts/bootstrap.sh
Fetching dependencies
Building Inspector
Creating bundle directory...
Fetching Inspector dependencies...
npm WARN react-treeview@0.4.6 requires a peer of react@>=0.14.0 but none was installed.
npm WARN web-driver-inspector@1.0.0 No repository field.
Building Inspector...

Hash: 9ed7d0b85cc08341fd0f
Vers

[2017-01-06 16:38] vjmaiky commented on #428
npm 4.0.5  node 6.8.0

[2017-01-06 16:39] vjmaiky commented on #428
it happened after i made update to appium 1.6.3 and i took the last version of webdriveragent.

[2017-01-06 19:30] benzhou29 commented on #422
I don't think identifier and name are equivalent, at least from what I tested. I used to be able to query for elements based on accessibility identifier with "identifier".

[2017-01-06 21:48] lilfry14 commented on #429
I get the same problem. A restart did not help. xcode Version 8.2, iOS 10.1.1

[2017-01-06 23:05] TeresaP commented on #436
Thanks @marekcirkos I will do that.

[2017-01-06 23:05] #436 closed

[2017-01-07 02:27] KBhatti commented on #372
@marcelerz you don't look too optimistic of it happening anytime soon..if at all :-)

[2017-01-07 08:19] channingbreeze opened #439 "can i use personal team to run wda on real device?"
Hi, i am new to ios development and i want to know can i use personal team to run wda on real device? if can ,how?

i always got the error: Failed to create provisioning profile.
The app ID "com.facebook.WebDriverAgentRunner" cannot be registered to your development team. Change your bundle identifier to a unique string to try again.
No profiles for 'com.facebook.WebDriverAgentRunner' were found
X

[2017-01-08 01:58] #429 closed

[2017-01-09 01:44] AliNL commented on #433
Hi @marekcirkos , if I start a session with app A, then app A will restart right? What if I want to start a new session and continue working on the current app?

[2017-01-09 02:09] debbie-qin commented on #428
@marekcirkos Yeah, I had clone the code into another file, and run it again. It successed.

[2017-01-09 02:10] sixleaves opened #440 "can simulate 3D-touch?"
can simulate 3D-touch?can simulate 3D-touch?

[2017-01-09 02:30] debbie-qin commented on #428
@marekcirkos I want use it with appium, after installing, how about copy it back to appium folder?

[2017-01-09 03:30] 304883563 commented on #429
I get the same problem. xcode Version 8.2.1, iOS 10.2 appium 1.6.3

[2017-01-09 03:59] AlexJinsin opened #441 "How can I slide the screen"
I wanna slide the screen .
which API should i use?

[2017-01-09 04:02] AlexJinsin commented on #438
i want to slide the csreen. left slide or right slide . which comman should i used?

[2017-01-09 09:44] marekcirkos commented on #438
@nairouz12 What screen orientation is it? @AlexJinsin probably druganddrop

[2017-01-09 10:21] marekcirkos commented on #428
@vjmaiky @debbie-qin This is related to integration of WDA into Appium. You should raise that issue with appium repo, as I will not be able to help you here.

[2017-01-09 10:21] #428 closed

[2017-01-09 10:23] marekcirkos commented on #440
Good question. By looks of public API it doesn't look like, I'll check private API when I got some time and get back to you.

[2017-01-09 10:26] marekcirkos commented on #439
Yes, you can. All you need to do is to create wildcard prov profile and select your team in all WDA targets

[2017-01-09 10:41] nairouz12 commented on #438
@marekcirkos
Portrait

[2017-01-09 12:59] hrissimir commented on #226
Ive also met it , whenever there is pickerwheel streched on the screen , something happens and tappium lags for 2-3 mins

[2017-01-09 15:32] VasilijSviridov commented on #441
use this one : curl -X POST $JSON_HEADER -d "{fromX:187,fromY:660,toX:0,toY:660,duration:800}" yourhost:port/session/SESSION_ID/uiaTarget/0/dragfromtoforduration

[2017-01-10 02:22] AlexJinsin commented on #441
I have try but it do not work in simulator

[2017-01-10 06:17] codeskyblue commented on #438
similar to <https://github.com/facebook/WebDriverAgent/issues/362>

[2017-01-10 06:23] AlexJinsin opened #443 "RUN in real ios device"
I want to run xctestagent in the real device
I build success and then run WebDriverAgentRunner.m file. But it does not work
the log is:

2017-01-10 11:26:24.622 XCTRunner[273:152911] Running tests...
2017-01-10 11:26:24.752 XCTRunner[273:152911] The bundle “WebDriverAgentRunner” couldn’t be loaded because it is damaged or missing necessary resources. Try reinstalling the bundle.
2017-01-10 11:26:2

[2017-01-10 07:09] AlexJinsin commented on #443
I got the function . look this
https://testerhome.com/topics/5953

[2017-01-10 09:12] lyt19871224 opened #444 "[IOS] how to make Keyboard disappear or put away"
[IOS]
I am trying test  suggest feature of a textfield . When I  type text to  a  textbox, the Keyboard appears.    But when finish typing,the Keyboard still exists there  and  cover a part of content which I want to test . So  my question is how can I make the Keyboard  disappear  after finishing typing and staying this page.

[2017-01-10 09:49] #443 closed

[2017-01-10 09:51] marekcirkos commented on #444
Application is responsible for dismissing keyboard. So you can as WDA to perform action that triggers keyboard dismiss.

[2017-01-10 09:51] #444 closed

[2017-01-10 11:16] vinodvpatil opened #445 "How do i communicate with webDriverAgent using curl"
I am trying to POST data to webDriverAgent using curl and proxy in between to communicate via USB,
this what i got as response:

[code]

[2017-01-10 12:36] marekcirkos commented on #445
We have wiki page with nice samples.
https://github.com/facebook/WebDriverAgent/wiki/Queries

[2017-01-10 12:36] #445 closed

[2017-01-10 12:37] marekcirkos commented on #441
Are you sure you have right coordinates?
Just out of curiosity what are you trying to slide?

[2017-01-10 12:37] #439 closed

[2017-01-10 12:42] marekcirkos commented on #438
@codeskyblue This is portrait so most likely not related.
@nairouz12 What Xcode and iOS version are you using? If you tap awn higher coordinates does it still tap alert button?

[2017-01-10 12:43] marekcirkos commented on #433
If you restart session with same app it will relaunch it yes. If that is a problem, you can also navigate to it without starting session

[2017-01-10 12:43] marekcirkos commented on #432
@limitcracker any luck?

[2017-01-10 12:44] marekcirkos commented on #423
@dreamereric ping

[2017-01-10 12:45] marekcirkos commented on #420
@toejough  ping

[2017-01-10 13:27] AlexJinsin commented on #441
I have used this command "`curl -X POST $JSON_HEADER -d "{fromX:187,fromY:660,toX:0,toY:660,duration:800}" yourhost:port/session/SESSION_ID/uiaTarget/0/dragfromtoforduration`".
But I'm not sure how to use coordinates , and “uiaTarget/0” I don't know what's that mean.
The '0' should I change?

I just want to slide in the homescreen left or right

[2017-01-10 13:41] VasilijSviridov commented on #441
@AlexJinsin works on my side with real device. Try to check what are you trying to slide and which directions.

Cheers

[2017-01-10 13:47] AlexJinsin commented on #441
@VasilijSviridov
I am real device too. With that command , if I just need change "fromX","fromY","toX","toY"and"duration" parameter is ok?
Do I need change "uiaTarget/0/dragfromtoforduration"?
I am a novice . Could you give me more proposal？ Thank you

[2017-01-10 13:49] VasilijSviridov commented on #441
Sorry @AlexJinsin
Try this one, should slide down :
curl -X POST $JSON_HEADER -d "{\"fromX\":\"187.00\",\"fromY\":\"460\",\"toX\":\"87.00\",\"toY\":\"60\",\"duration\":\"0.10\"}" host:port/session/SESSION_ID/uiaTarget/0/dragfromtoforduration

[2017-01-10 13:50] VasilijSviridov commented on #441
Also I noticed that github removes all "\" - slash signs, so this is not only copy paste from here :)

Hopefully you will figure it out @AlexJinsin :)

[2017-01-10 13:54] AlexJinsin commented on #441
@VasilijSviridov  Thank you . I try to do that.

[2017-01-10 14:25] limitcracker commented on #372
Hi @marekcirkos @mykola-mokhnach

We have applied this patch
[code]

It seems to solve the animation problem but it introduces another issue. It finds all the element visible if they are not displayed in the view port. In our case we check if an element is visible and if not we scroll down or up accordingly until it's visible. Therefore we cannot apply this solution.

Any updates about this issue?

[2017-01-10 14:38] mykola-mokhnach commented on #372
@limitcracker This problem with visibility detection has been already described above. You either have a workaround, that does not freeze your tests, but cannot detect invisible elements with 100% reliability or the current one, which creates unexpected delays.
There are no other solutions we can provide right now. You can ping Apple though, so they fix that thing in XCTest for us.

[2017-01-10 15:43] nairouz12 commented on #438
@marekcirkos
I'm using:  xcode: 8.2.1 and iOS version: 10.2
Whatever coordinates I use, it always taps the first button of the alert popup.

[2017-01-10 15:46] AlexJinsin commented on #438
@marekcirkos  I do not get the point.

[2017-01-10 16:49] nairouz12 commented on #438
@marekcirkos
this ths code that i'm executing:
`Appium::TouchAction.new.tap(:x => 10, :y => 10).perform`
and these are the logs I'm getting
`[HTTP] --> POST /wd/hub/session/5f90ed46-d917-44b5-a6a5-f23c3f6b2009/touch/perform {"actions":[{"action":"tap","options":{"x":10,"y":10,"count":1}}]}
[debug] [MJSONWP] Calling AppiumDriver.performTouch() with args: [[{"action":"tap","options":{"x":10,"y":10,"

[2017-01-10 20:20] toejough commented on #420
sorry.

![screen shot 2017-01-10 at 2 57 49 pm](https://cloud.githubusercontent.com/assets/5317312/21822454/33f223ca-d745-11e6-921c-a5acdcb944bc.png)

That screenshot is from the inspector for our app.  So far, all the `Raw identifier` values have matched the `name` values I've seen for elements, so I've been using `name` from the xml.

Partly, this may just be confusion on my part over what these

[2017-01-11 06:01] MaisGurbanov opened #446 "WebDriverAgent keeps on black screen after running of several tests"
After running 5-10 tests on real device (iPhone 5, iOS 10.2), WebDriverAgent keeps on black screen and does not want to minimize itself in background: there is black screen with battery icon. So only solution which I can make for now, just restart device and start tests again.

Is there any other solution?

Thanks in advance.

[2017-01-11 06:51] AlexJinsin commented on #441
@VasilijSviridov
comman like this:
alexmatoiMac:~ alex$ curl -X POST $JSON_HEADER -d  "{"fromX":"187.00","from":"460","toX":"187.00","toY":"60","duration":"0.10"}" $DEVICE_URL/session/$SESSION_ID/uiaTarget/0/dragfromtoforduration
{
  "value" : {

  },
  "sessionId" : "7F606C7E-FD45-4ABB-935A-BD43C2F039FE",
  "status" : 0
}alexmatoiMac:~ alex$

log like this:
    t =  1153.63s     Find the Applicat

[2017-01-11 06:53] VasilijSviridov commented on #441
Are you using slashes in parameters ?
As I can see you still posting without slashes :
t = 1154.06s Press and drag from Application "local.pid.248" 0x14f10b7c0[0.00, 0.00] -> (0.0, 0.0) to Application "local.pid.248" 0x14f10b7c0[0.00, 0.00] -> (0.0, 0.0)

[2017-01-11 06:55] VasilijSviridov commented on #441
github removed all back slashes from my post so basically it should be like this : [backslash]"fromX[backslash]":[backslash]"187.00[backslash]"

[2017-01-11 06:56] VasilijSviridov commented on #441
@AlexJinsin  really hope this will help :)

[2017-01-11 07:05] AlexJinsin commented on #441
@VasilijSviridov
I get the point . It worked. Thanks a lot! You finished my problem.

 By the way, I want to ask an API.
`http://localhost:8100/session/B9B456C1-7674-4F86-BB8B-E02324C52B3B/tap/0`
This one , can used by click ?

[2017-01-11 07:27] AlexJinsin commented on #438
@nairouz12
`curl -X POST $JSON_HEADER -d "{"x":"0","y":"187.5"}" $DEVICE_URL/session/$SESSION_ID/tap/0`
Can this command click screen?

[2017-01-11 09:03] marekcirkos commented on #420
Yep, it is name. Only difference between raw identifier and name is that name is auto-fulfilled if not present with accessibility label or value, depending on element type.

[2017-01-11 09:03] #420 closed

[2017-01-11 09:05] marekcirkos commented on #446
Does the screen at one point turn black. Does anything happen when you press home button? Sounds like serious iOS issue.

[2017-01-11 09:06] #441 closed

[2017-01-11 10:04] nairouz12 commented on #438
@AlexJinsin
I don't know how to send commands directly to WDA

[2017-01-11 10:06] MaisGurbanov commented on #446
After pressing  home button WebDriverAgent minimizes but tests are not continuing. Even when I try to close WebDriverAgent (by clicking home button twice and swipe window up), appium tries to run WebDriverAgent and the mentioned process (WebDriverAgent opens again, keeps on black screen with battery icon) continues until I will restart device.

[2017-01-11 11:07] marekcirkos commented on #446
Ok, so WDA stops working on device after multiple tests, but device is still ok. It happened to me few times as well. This is known issue with XCTest. If you try to run any XCUITest at that point it will not work.

[2017-01-11 11:07] #446 closed

[2017-01-11 12:06] MaisGurbanov commented on #446
Is there any related issue with existed one to track it or this problem will stay without any solution?

[2017-01-11 12:42] vinodvpatil commented on #445
Thanks, but now if i issue any command other than `curl -X GET $JSON_HEADER $DEVICE_URL/status` for example
[code]
then it hangs in there for quite some time and then responds as below:
[code]
and on iOS device syslogs i see following log:

[code]

[2017-01-11 14:07] vinodvpatil opened #447 "Webdriveragent app does not respond quickly to some commands"
If i issue any command other than `curl -X GET $JSON_HEADER $DEVICE_URL/status` for example
[code]
then it hangs in there for quite some time and then responds as below:
[code]
and on iOS device syslogs i see following log:

[code]

[2017-01-11 14:11] vinodvpatil commented on #447
Even tried some other request like,
[code]

but i get empty response for that like below:
[code]

[2017-01-11 17:46] marekcirkos commented on #446
You should file bug report to Apple.

[2017-01-12 01:19] CodeToSurvive1 opened #448 "tap and dragfromtoforduration cost too much time"
when i try to do the tap or dragfromtoforduration action,it often costs too much time, usually 3-4 seconds .And i feel like that the time the screen costs relys on the complex of the screen,for example

[code]

And I also debug the webdriveragent ,it looks like the real code that handles actions costs time,like:

[code]

I don't know why and is there any solution to solve this?

thanks in advance.

[2017-01-12 02:36] baozhida commented on #429
me too. how to solve the problem? Xcode 8.2.1  ip7 10.2

[2017-01-12 11:46] VasilijSviridov opened #449 "keyboard"
Is it possible to send keys to keyboard without accessing element ?

On appium there is a function driver -> getKeyboard -> sendKeys, is there something similar on WDA ?

[2017-01-12 12:27] codeskyblue commented on #449
yes, it is possible.

[2017-01-12 12:28] codeskyblue commented on #449
But I'm not familar with appium

[2017-01-12 12:40] VasilijSviridov commented on #449
@codeskyblue  could you send me POST/GET which you are using to type keyboard without accessing element ?

[2017-01-12 12:51] christoff-1992 commented on #447
Have you tried specifying the full app path instead of relying on the bundle identifier to locate the app?

[2017-01-12 12:55] vinodvpatil commented on #447
Even if there is an issue with app path, ideally `homescreen` `screenshot` end points should work i believe correct me if wrong.

[2017-01-12 14:20] codeskyblue commented on #449
hard to type with phone, you chould search a repo named facebook-wda where you can find answer

[2017-01-12 15:02] VasilijSviridov commented on #449
at least type the name of function =) that would really help :)

[2017-01-12 19:25] TheChell opened #450 "Unable to successfully run WebDriverAgentRunner in Xcode"
*Problem*
I am unable to successfully run WebDriverAgentRunner in Xcode. I have included values for both DEVELOPMENT_TEAM and CODE_SIGN_IDENTITY in a ProjectSettings.xcconfig file, but for some reason the absolute path of WebDriverRunnerAgent specifically, does not match the location of that file.

*Environment*
Xcode version: 8.2
Appium version: 1.6.3

![screen shot 2017-01-12 at 2 19 25 pm](http

[2017-01-13 09:42] 12288505 opened #451 "When run bootstrap.sh, got an issue: SyntaxError: Unexpected token"
![qq20170113-173932](https://cloud.githubusercontent.com/assets/14194587/21925197/5597058a-d9b7-11e6-8d0f-1bea45c5272e.png)
Fetching dependencies
Building Inspector
Creating bundle directory...
Fetching Inspector dependencies...
npm WARN react-treeview@0.4.6 requires a peer of react@>=0.14.0 but none was installed.
npm WARN web-driver-inspector@1.0.0 No repository field.
Building Inspector...

Has

[2017-01-13 09:53] sergey-plevako-badoo commented on #435
Please see the Simulator logs attached.
[CoreSimulator.zip](https://github.com/facebook/WebDriverAgent/files/703979/CoreSimulator.zip)

[2017-01-13 09:54] VasilijSviridov opened #452 "Webview"
Is it possible to send javascript to hybrid apps  webview ?

[2017-01-13 10:39] marekcirkos commented on #452
No, only way you can interact with app is via UI.

[2017-01-13 10:39] #452 closed

[2017-01-13 11:45] VasilijSviridov commented on #449
@marekcirkos could you help with this one ? Please

[2017-01-13 14:50] CodeToSurvive1 commented on #448
Why nobody answered it?

[2017-01-13 15:10] codeskyblue commented on #449
[code]

[2017-01-13 15:33] VasilijSviridov commented on #449
thank you very much @codeskyblue !!!!!

Cheers all and Happy Friday!

[2017-01-13 15:39] jpsalada commented on #429
So the problem is not the WDA gets stuck. It just do not output any logs on the xcodebuild process. This is a bit a problem because we need the ServerURL log to get he device ip. This log shows on the device logs, but it is way straightforward to get it from xcodebuild process output.

[2017-01-13 17:20] marekcirkos commented on #450
I am pretty sure you still have to select team for both WebDriverAgentLib and WebDriverAgentRunner in order to make it run on devices. Please confirm

[2017-01-13 17:21] #449 closed

[2017-01-13 17:26] marekcirkos commented on #451
What version of node and npm do you use?

[2017-01-14 06:29] 12288505 commented on #451
node version 6.9.4
npm 3.10.10

[2017-01-14 07:37] 12288505 commented on #429
Did you solve the issue?

[2017-01-15 00:23] codeskyblue commented on #448
for this is weekend

[2017-01-16 10:36] marekcirkos commented on #448
@CodeToSurvive1 Do you run it on device or sim? WDA does some additional stuff before taping. Eg. We make sure element is not being animated. Also using Xcode to boot WDA is will significantly slow down all operations due to logging and debugger.

[2017-01-16 11:56] CodeToSurvive1 commented on #448
i run webdriveragent on real device,i have tried iphone 6,6plus and 6s ,all of these cost too much time.And when i tried to debug the code,the code before and after tap or  dragfromtoforduration run quickly,and cost little time,only the step tap or  dragfromtoforduration cost time. And i also tried to start the webdriveragent on the phone not using xcode and used iproxy through usb,it also cost to

[2017-01-16 13:46] VasilijSviridov opened #453 "keyboard"
After running test for about 2 hours, noticed that sending keys to inputs doesn't properly works, as example at 85min 45 sec, "text" string with POST command "element/value" (also tried /keys) was posted, on UI only "t" was visible.

Any ideas why ?

[2017-01-16 16:23] VasilijSviridov commented on #453
How often do I have to restart WDA ?

[2017-01-17 06:41] 12288505 commented on #451
I placed the WebDriverAgent project to other folder, such as /infor/tool/WebDriverAgent, It works OK, Just got issue in the appuim-xcuitest-driver forlder, Why?

[2017-01-17 09:01] marekcirkos commented on #451
@12288505 I assume this is due to way appium packages WDA. You should raise an issue with Appium.

[2017-01-17 09:01] #451 closed

[2017-01-17 09:05] marekcirkos commented on #448
There is not much we can do then. All gestures are executed by TestManager which is completely separate process.

[2017-01-17 09:05] #448 closed

[2017-01-18 06:40] AlexJinsin opened #454 "iPhone7 10.1.1 can not connect ServerURL"
I use iPhone7 10.1.1, I can not connect ServerURL
log right here
`2017-01-18 14:32:23.314459 XCTRunner[371:26825] Running tests...
2017-01-18 14:32:24.610141 XCTRunner[371:26825] Continuing to run tests in the background with task ID 1
Test Suite 'Selected tests' started at 2017-01-18 14:32:25.988
Test Suite 'a.xctest' started at 2017-01-18 14:32:25.990
Test Suite 'UITestingUITests' started at 201

[2017-01-18 10:19] marekcirkos commented on #454
I would guess your phone is in different network then host you are connecting from?

[2017-01-18 11:20] #368 closed

[2017-01-18 11:21] #370 closed

[2017-01-18 11:21] #402 closed

[2017-01-18 11:22] marekcirkos commented on #416
@jlipps Can you tell me what endpoint is not handling it?

[2017-01-18 11:22] marekcirkos commented on #422
@mykola-mokhnach This should be resolved right?

[2017-01-18 11:23] #423 closed

[2017-01-18 11:23] #432 closed

[2017-01-18 11:24] marekcirkos commented on #433
@tylerrrrrr Closing, if there is something you want still to discuss, feel free tor reopen

[2017-01-18 11:24] #433 closed

[2017-01-18 11:24] marekcirkos commented on #434
@codeskyblue Is this still an issue?

[2017-01-18 11:30] marekcirkos commented on #440
Unfortunately not :/

[2017-01-18 11:30] #440 closed

[2017-01-18 11:34] marekcirkos commented on #447
@vinodvpatil It looks like XCTRunner is crashing, so WDA is dying. There is not much you can do, except update xcode? Is this persistent for you?

[2017-01-18 11:34] #450 closed

[2017-01-18 11:36] marekcirkos commented on #453
@VasilijSviridov This is know XCTest issue, sometimes it fails to type strings regardless of how long it is running. Good news is that WDA can detect that and returns an error in that case, so that you can try to handle it on client side.

[2017-01-18 11:37] marekcirkos commented on #438
@nairouz12 This is interesting. Maybe this is how iOS handles outside taps. I'll play with it when I have some time

[2017-01-18 11:38] vinodvpatil commented on #447
Yes i saw xcode was crashing, i updated and it is working fine now.

[2017-01-18 11:38] #447 closed

[2017-01-18 11:39] marekcirkos commented on #435
Hmm, logs doesn't show much. I'll check it out when I how some free time.

[2017-01-18 12:16] mykola-mokhnach commented on #422
Yep, just close it.

[2017-01-18 12:20] #422 closed

[2017-01-18 12:25] vjmaiky opened #455 "Application crashes when performing a rotate to Landscape"
Ok so i have my setup (newest WDA, appium 1.6.3, Xcode 8.2, iPhone 6= with 10.2).
Everything works until i change orientation to landscape.

AppiumDriverInstance.getInstance().rotate(ScreenOrientation.LANDSCAPE);

rotate is using public class from AppiumDriver.class.

I know that was a problem few weeks ago, but now i read that some managed to do it and some no.

Questions:
Is this fixed or not? O

[2017-01-18 12:26] marekcirkos commented on #455
@vjmaiky Do you mean test application crashes or WDA crashes?

[2017-01-18 12:40] vjmaiky commented on #455
2017-01-18 14:08:16 INFO  IosAutomationTestWatcher:182 - Test failed with exception:
org.openqa.selenium.WebDriverException: Unable To Rotate Device
Command duration or timeout: 5.54 seconds
Build info: version: '2.53.0', revision: '35ae25b1534ae328c771e0856c93e187490ca824', time: '2016-03-15 10:43:46'
System info: host: 'admins-Mac-mini.local', ip: '172.16.102.25', os.name: 'Mac OS X', os.arch: '

[2017-01-18 12:43] vjmaiky commented on #455
Appium Log:

[debug] [JSONWP Proxy] Proxying [POST /element] to [POST http://localhost:8100/session/C9025725-598B-4BC7-9A77-28E61DDD32EA/element] with body: {"using":"name","value":"“Telekom Mail” Would Like to Send You Notifications"}
[debug] [JSONWP Proxy] Got response with status 200: {"value":{"using":"name","value":"“Telekom Mail” Would Like to Send You Notifications","description":"unable to

[2017-01-18 13:14] mykola-mokhnach commented on #453
People also say, that sometimes disabling the "Connect Hardware Keyboard" option helps to workaround this problem in Simulator.

[2017-01-18 13:15] mykola-mokhnach commented on #455
@vjmaiky  I'd recommend to check the device log. It's most likely a crash in the application under test.

[2017-01-18 13:17] mykola-mokhnach commented on #438
@nairouz12 Can you please check comments to [this PR](https://github.com/facebook/WebDriverAgent/pull/411)? Probably, you issue will be fixed after you merge it with the local WDA source.

[2017-01-18 13:20] mykola-mokhnach commented on #384
@ericmedvec @bearxc

There was a bug in Appium handler, which is fixed in the recent driver component (check
https://github.com/appium/appium-xcuitest-driver/pull/333)

Please wait for the next Appium release or execute

[code]

to try it now.

[2017-01-18 13:23] vjmaiky commented on #455
Indeed. If the screen/view is set/meant to run only in portrait on phone (ex login for page), test run crashes.
If i skip login (i do it in portrait) and only after that i change orientation and continue the test in landscape, works as expected.

[2017-01-18 13:34] VasilijSviridov commented on #453
Thank you, will try to play with error from WDA if that happens again.

Cheers

[2017-01-18 14:22] VasilijSviridov commented on #453
yes I am getting error you mentioned:
Error Domain=XCTestManagerErrorDomain Code=14 \"Timed out waiting for key event to complete\" UserInfo={NSLocalizedDescription=Timed out waiting for key event to complete

[2017-01-18 18:12] jlipps commented on #416
@marekcirkos it's the other way around: you already do support accessibility id, which is great. I'm saying WDA should _not_ handle the `name` strategy, i.e., it should be removed as a valid locator strategy.

[2017-01-19 09:24] nairouz12 commented on #438
@mykola-mokhnach the issue happened on portrait orientation and not on landscape

[2017-01-19 11:36] VasilijSviridov commented on #453
It seems that best idea is to restart WDA after a test.

Cheers

[2017-01-19 12:13] marekcirkos commented on #453
Also if WDA is inactive for a while after test it might a good idea to keep poking it via /wda/healthcheck endpoint.

[2017-01-19 12:13] #453 closed

[2017-01-19 15:05] codeskyblue commented on #434
I will check tomorrow. this is die during interaction

[2017-01-19 15:07] codeskyblue commented on #453
for a while means how long?

[2017-01-19 19:34] jlipps commented on #452
@VasilijSviridov if you want webview support, try using appium (https://github.com/appium/appium) which uses WDA for native and allows you to seamlessly switch into a hybrid webview for automation as well.

[2017-01-19 19:48] VasilijSviridov commented on #452
@jlipps thanks, could you suggest where to check how to execute js with ios-webkit-debug-proxy help?

Cheers

[2017-01-19 21:19] jlipps commented on #452
@VasilijSviridov with appium you can use selenium's `executeScript` command. Reading the Appium docs is probably a good place to start.

[2017-01-19 21:44] VasilijSviridov commented on #452
Cheers @jlipps

[2017-01-20 08:27] marekcirkos commented on #455
@vjmaiky  So this is app issue then?

[2017-01-20 08:29] marekcirkos commented on #453
It might be a good idea to poke WDA every 20s-60s, whatever works best for you.

[2017-01-20 09:24] vjmaiky commented on #455
As far as i can see yes; if i do the rotate in a screen that by default supports landscape it is working. If i do it in a screen that does not support landscape by default app crashes. I made a workaround with a try catch  (for error "unable to rotate") because i need to run tests in landscape also, and i cannot somehow split tests. Now the problem that i`m facing is that clicks in landscape does

[2017-01-21 06:47] XLTH opened #457 "WebDriverAgent can't show inspector!"
When I use iOS-simulator install WDA and open the URL http://localhost:8100/inspector ,it just show me this
![image](https://cloud.githubusercontent.com/assets/17403786/22172657/37ccf9ce-dfe8-11e6-8efa-dd00b52e3ecd.png)
and the URL show me:
![image](https://cloud.githubusercontent.com/assets/17403786/22172674/5f370b9e-dfe8-11e6-9cbe-883b0bafe126.png)
I really need your help!!

[2017-01-22 02:02] baozhida commented on #457
me too  xcode 8.2

[2017-01-22 02:38] baozhida opened #458 "xcodebuild start WDA on real phone ,stop at Set Up"
xocde:8.2.1
device:iPhone 7
IOS:10.2
last version WDA
Position:China
log:
writeDictToFile:1278 ==== Successfully wrote Manifest cache to /var/folders/d2/blcc_d555m97vhnxz1gp22w00000gn/C/com.apple.DeveloperTools/All/Xcode/EmbeddedAppDeltas/WebDriverAgentRunner-Runner.app.iFGP7E/WebDriverAgentRunner-Runner.app_sparse.ipa/ManifestCache.plist
Test Suite 'All tests' started at 2017-01-22 10:29:52.350
T

[2017-01-22 11:54] huanglik opened #459 "【Help】Failed to write value for key AutomationDisableFauxCollectionCells"
**please look at the picture below， i try to set [FBConfiguration shouldShowFakeCollectionViewCells:NO];  and then start server**
![image](https://cloud.githubusercontent.com/assets/3026388/22182254/bd7f1bda-e0db-11e6-8e7f-3f440c076afd.png)

![image](https://cloud.githubusercontent.com/assets/3026388/22182257/dc6d5016-e0db-11e6-90d5-b30f98ededc4.png)

**the server can running， however， it raises u

[2017-01-22 11:59] huanglik commented on #458
it‘s not stop，that means  it is running now， you can use wda now～

[2017-01-22 12:01] huanglik commented on #457
this error occurs because your environment is not fit well
just run ./Script/bootstrip.sh  again
run the shell without error ,and then you can use inspector~

[2017-01-23 00:02] codeskyblue commented on #434
closed for now

[2017-01-23 00:02] #434 closed

[2017-01-23 04:16] lyt19871224 commented on #444
Hi,I try modify the code like below:
**add one method to FBElementCommands.m**
`[[FBRoute POST:@"/wda/element/:uuid/dismisskeyboard"] respondWithTarget:self action:@selector(handleDismissKeyboard:)]
`
`+ (id<FBResponsePayload>)handleDismissKeyboard:(FBRouteRequest *)request
{
    [[FBApplication fb_activeApplication] dismissKeyboard];
    //some other code
    return FBResponseWithOK();
}
`

**But

[2017-01-23 05:30] baozhida commented on #458
I check the IP on phone，bug I can not connect it .  http://ip:8100

[2017-01-23 06:28] lyt19871224 opened #460 "[IOS] Application for "Hide keyboard" Button is not frontmost"
issue:  https://github.com/facebook/WebDriverAgent/issues/444

Hi,I try modify the code like below:
add one method to FBElementCommands.m
[[FBRoute POST:@"/wda/element/:uuid/dismisskeyboard"] respondWithTarget:self action:@selector(handleDismissKeyboard:)]
+ (id<FBResponsePayload>)handleDismissKeyboard:(FBRouteRequest *)request { [[FBApplication fb_activeApplication] dismissKeyboard]; //some other

[2017-01-23 06:51] huanglik commented on #458
you should run 'iproxy 8100 8100', and then connect it by 'localhost:8100'

[2017-01-23 09:05] marekcirkos commented on #458
This looks like issue with Xcode. Restarting your host should resolve it.

[2017-01-23 09:07] marekcirkos commented on #444
I would guess this works only for iPads.

[2017-01-23 09:08] marekcirkos commented on #460
I would guess this works only for iPads.

[2017-01-23 09:12] VasilijSviridov commented on #452
@jlipps instead of using selenium executeScript, you can just connect to WS and send json array to ios-webkit-debug-proxy, which I find much more simple and easier, might be helpful for you as well.

Cheers

[2017-01-23 09:18] marekcirkos commented on #459
Probably this is not needed anymore. However it was added to force iOS 9.x to report all table/collection cell. Anyway this error should not influence WDA in anyway, so you can ignore it.

We might remove it soon, after making sure it does not bring much of benefit

[2017-01-23 09:23] huanglik commented on #459
ok,  another question i have
Is there any way to get all the visible  elements  ?
i find that the request with 'localhost:8100/source' will return all the elements ( between visiable and invisiable elements)
however, what if i only want to get all the visible and without those invisiable? what can i do?

[2017-01-23 09:34] marekcirkos commented on #459
Unfortunately not. Best you can do is fetch `/source` and filter invisible elements, which shouldn't be too difficult.

[2017-01-23 09:41] huanglik commented on #459
this maybe a way to do that.
why I raise up this question is that  it takes long time to get all  the elements ( between visiable and invisiable elements).
if my app has 200 cells in a page, return all elements takes long time.
If it can return only visible elements, it will be nice.
and i am so sad that no way to fix this problem now ~
 ( the code of XCElementSnapshot is belong to Apple , i can't

[2017-01-23 18:35] jlipps commented on #452
@VasilijSviridov that is indeed how we implement executeScript under the hood!

[2017-01-23 19:31] jlipps opened #461 "feasibility of double-pressing home screen?"
Hi @marekcirkos, I see that in a few places in WDA we do something like this:

[code]

Is there any reason we couldn't call it twice (maybe with a small delay), to bring up the app switcher? Something like:

[code]

Let me know, I'm happy to draft a PR

[2017-01-24 07:48] yeehaoYBT opened #462 "app-inspector无法识别MenuItem"
针对IOS系统自带的MenuItem，app-inspector无法识别

[2017-01-24 08:27] nairouz12 commented on #438
@marekcirkos  any update about this issue?

[2017-01-24 10:14] marekcirkos commented on #459
@huanglik That wouldn't improve it anyway. We will have to query all element to determine visibility anyway.

[2017-01-24 10:14] #459 closed

[2017-01-24 10:17] marekcirkos commented on #461
You care about switcher or homescreen. We do have `/wda/homescreen` endpoint.
I you care about switcher, this might not be enough. Do we even care about delay?

[2017-01-24 10:18] marekcirkos commented on #462
I tried to translate, but I am not sure what do you mean. Can you elaborate on that?

[2017-01-24 10:18] marekcirkos commented on #438
@nairouz12 Sorry I didn't have much time to investigate it.

[2017-01-24 10:38] marekcirkos commented on #457
@XLTH Did it help?

[2017-01-24 14:23] codeskyblue commented on #462
@yeehaoYBT You open the issue in the wrong place. Should be ok to close.

[2017-01-24 18:41] jlipps commented on #461
Yeah, I care about getting to the switcher. Maybe we don't need a delay. Just playing around with my simulator, if I pressed `cmd+shift+H` too fast, the switcher didn't come up. I'm just speculating maybe there is a sweet spot of how fast to emulate the press.

[2017-01-25 00:00] marekcirkos opened #463 "Action endpoints"
Instead of implementing per gesture endpoints. Let's implement WD action endpoints that allow custom gestures. https://w3c.github.io/webdriver/webdriver-spec.html#actions

[2017-01-25 09:51] marekcirkos commented on #461
We could introduce `/wda/appswitch` endpoint. Timing on pressing home button is tricky. You can check deactivate app endpoint for some ideas. However navigating through app switch would be tricky, I guess.

I assume you want this to resume to the different app? Maybe it would be better to have `/wda/activate/:app` or whatever endpoint that does that possibly in different way? We kind of do this wi

[2017-01-25 09:51] #462 closed

[2017-01-25 12:32] #362 closed

[2017-01-25 18:32] jlipps commented on #461
I know @midopa was interested in this feature. @midopa would you rather have something that just gets you to the app switcher? Or something that actually switches to an app given an appropriate ID? I'm not sure what's technically feasible or what elements you actually have control over with the app switcher.

[2017-01-25 19:09] midopa commented on #461
Sorry, I should've brought this up sooner. For me, the app switcher isn't as much of a concern anymore. I don't need it as much as I need the existing home screen endpoint exposed in Appium.

The main goal is cross-app automation.

It would be great if you can provide a way to switch apps deterministically and by normal user means (ie. not launching the app through XC Test because this may skip ap

[2017-01-25 19:11] jlipps commented on #461
Oh great feedback @midopa. So it sounds like the most reliable way to switch apps is just to go to the homescreen and navigate the UI to find the other apps from there. I'm happy to close this then if @marekcirkos wants, as I think you were the originator of this request on the Appium side :-)

[2017-01-25 21:42] SmithaVemuri opened #465 "unrecognized selector sent error with ioS 10.3(14E5230e)"
Got the Element Id with POST

{"using":"class name","value":"XCUIElementTypeTextField"}

http://10.42.18.23:8100/session/1A265044-B7A7-4B0D-BB7F-9DA03EBBC047/element/7474AF30-63B0-4974-94F9-751A9623D4EA/value

POST:

{"value":["t","e","s","t","u","s","e","r","1","2","3"]}

Response:

"value": "-[XCTestDriver managerProxy]: unrecognized selector sent to instance 0x170053a40 ( 0 CoreFoundation 0x000

[2017-01-26 10:01] #461 closed

[2017-01-26 13:33] #460 closed

[2017-01-26 13:33] #457 closed

[2017-01-26 13:34] marekcirkos commented on #455
@vjmaiky Closing this one as we have task for tracing taps in landscape

[2017-01-26 13:34] #455 closed

[2017-01-26 13:34] #454 closed

[2017-01-26 13:35] marekcirkos commented on #303
@mykola-mokhnach I think this is resolved right?

[2017-01-26 13:35] marekcirkos commented on #300
@mykola-mokhnach Is this still an issue?

[2017-01-26 13:45] mykola-mokhnach commented on #303
right. it's done already

[2017-01-26 13:47] mykola-mokhnach commented on #300
I will check it again and comment the issue. In theory, this workaround we did for landscape, should work for it.

[2017-01-26 15:17] mykola-mokhnach commented on #300
Yup, the workaround works perfectly now with the recent WDA commits. The issue can be closed.

[2017-01-26 15:17] #303 closed

[2017-01-26 15:26] vikramvi commented on #372
@marekcirkos please find consistent steps to reproduce the issue

https://github.com/appium/appium/issues/7034#issuecomment-275406036

[2017-01-26 19:35] pragpatel commented on #446
hi , I am having the exact same problem as @MaisGurbanov , is there any solution to it yet ?

[2017-01-27 12:34] Nischalapp commented on #372
@mykola-mokhnach Thanks so much your solution is working for me with Appium 1.6.3

Guys who is having problem use below code given by @mykola-mokhnach

/**
 * Copyright (c) 2015-present, Facebook, Inc.
 * All rights reserved.
 *
 * This source code is licensed under the BSD-style license found in the
 * LICENSE file in the root directory of this source tree. An additional grant
 * of patent rights

[2017-01-27 12:38] mykola-mokhnach commented on #372
@Nischalapp I'm currently working on more flexible [solution](https://github.com/facebook/WebDriverAgent/pull/466)

you can merge the patch with your local source and set the "ALTERNATIVE_VISIBILITY_DETECTION" environment variable to "YES" to test the stuff.

[2017-01-27 12:57] Nischalapp commented on #372
@mykola-mokhnach how to set this flag and where to set this ALTERNATIVE_VISIBILITY_DETECTION

[2017-01-27 14:28] VasilijSviridov commented on #439
@marekcirkos  can I use Dev Wildcard Profile for building WDA ?
Cheers

[2017-01-27 17:22] marekcirkos commented on #439
@VasilijSviridov I promis I will not punish you for it ;)

[2017-01-30 11:05] mykola-mokhnach commented on #300
Seems like the problem is relevant only for security alerts generated by iOS itself.
https://github.com/facebook/WebDriverAgent/pull/470 might handle it.

[2017-01-31 10:38] PradeshKumar-emisweb opened #471 "UITableView issue"
I'm testing an scenario to verify the cell values for `UITableView` in appium. Appium provides the correct values for the visible cells, but incorrect values for the invisible cell.

For eg., A table is having 30 rows, 20 is visible and 10 is not visible. The table returned to the tests has the top 20 ones correct. The last 10 has the same information as the 30th row.

Do we have any work around f

[2017-01-31 11:25] PradeshKumar-emisweb opened #472 "Can't able to launch inspector"
I'm getting the following error, whenever I'm trying to launch the inspector,

*** Assertion failure in -[FBResponseFilePayload initWithFilePath:], /usr/local/lib/node_modules/appium/node_modules/appium-xcuitest-driver/WebDriverAgent/WebDriverAgentLib/Routing/FBResponseFilePayload.m:24

Any help?
<img width="669" alt="untitled" src="https://cloud.githubusercontent.com/assets/21124106/22463057/fb72

[2017-01-31 14:11] marekcirkos commented on #472
Did you run bootstrap.sh script?

[2017-02-01 06:09] PradeshKumar-emisweb commented on #472
Yes

[2017-02-02 10:37] PradeshKumar-emisweb commented on #472
I found the solution from the net, I followed the below steps. It's working fine now.

[code]

[2017-02-02 10:37] #472 closed

[2017-02-02 16:16] marekcirkos commented on #465
https://github.com/facebook/WebDriverAgent/commit/6a8281374f5976517bde5f54fb5291c231d7e452

[2017-02-02 16:16] #465 closed

[2017-02-03 07:22] saritau commented on #293
Can anyone pls share some sample code for both the suggestions asked to be implemented.

Thanks in advance.

[2017-02-03 09:34] mykola-mokhnach commented on #372
This is the same workaround, but just more elegant. Please update WDA to the most recent version before applying it:

[code]

Known issues (all caused by XCTest bug about _visibleFrame_ property evaluation):

- Off-screen table cells are detected as visible
- Invisible non off-screen non-zero-size UI elements covered by another elements/views are detected as visible

[2017-02-03 13:05] ptsiakos77 commented on #372
@mykola-mokhnach  We tried this solution in master branch of WDA but we encountered many errors of type:

**_[MJSONWP] Encountered internal error running command: ProxyRequestError: Could not proxy command to remote server. Original error: Error: ESOCKETTIMEDOUT
    at JWProxy.proxy$ (../../../lib/jsonwp-proxy/proxy.js:126:13)
    at tryCatch (/usr/local/lib/node_modules/appium/node_modules/babel-

[2017-02-03 13:16] Nischalapp commented on #372
Please use latest Appium release . Its working fine

https://discuss.appium.io/t/appium-1-6-4-beta-released/14543

On Fri, Feb 3, 2017 at 6:35 PM, ptsiakos77 <notifications@github.com> wrote:

--
*Nischal Sinha*
*Reach me : +919980072438*

[2017-02-03 14:45] ptsiakos77 commented on #372
I am not sure that it solves the problems mentioned since from what it seems has not included something new from WDA side regarding the mentioned issues

[2017-02-03 14:45] marekcirkos commented on #471
@PradeshKumar-emisweb Invisible cells do not work well with XCTest. Sometimes they contain trash informations. Best strategy is to relay test on visible elements and ignore invisible ones.

[2017-02-03 14:49] marekcirkos commented on #458
Added to Known issues in Wiki

[2017-02-03 14:49] #458 closed

[2017-02-03 14:53] Nischalapp commented on #372
Yes it's working fine I was also having same issue and was using with
workaround but now I downloaded latest version and it's working fine.

On 03-Feb-2017 8:15 PM, "ptsiakos77" <notifications@github.com> wrote:

[2017-02-03 15:03] amleszk opened #474 "Enqueue Failure: UI Testing Failure - Failed to get snapshot within 15.0s"
Copied from appium project: https://github.com/appium/appium/issues/7796

## The problem

Error finding elements

`XCTRunner[83980:8602143] Enqueue Failure: UI Testing Failure - Failed to get snapshot within 15.0s /usr/local/lib/node_modules/appium/node_modules/appium-xcuitest-driver/WebDriverAgent/WebDriverAgentRunner/UITestingUITests.m 35 1`

## Environment

* Appium version (or git revision) th

[2017-02-03 15:56] marekcirkos commented on #474
Is it possible that app crashed or deadlocked?

[2017-02-03 16:42] vathsalahn opened #475 "Can we use webdriverAgent to automate iPhone settings"
We need to turn on and off the Bluetooth .Can we use webdriverAgent for this and can we use only curl commands to communicate without appium support .

[2017-02-03 17:02] marekcirkos commented on #475
Yes, Yes. :) Have a look here https://github.com/facebook/WebDriverAgent/wiki/Queries

[2017-02-03 17:37] vathsalahn commented on #475
Thank you .:) .

[2017-02-03 17:37] #475 closed

[2017-02-03 18:17] amleszk commented on #474
@marekcirkos The app does become unresponsive when the errors start happening, but I don't think it's from deadlocking on the app side. I noticed this happens when there are a lot of UI elements on screen. I can't share the project because it's a closed source app

[2017-02-04 03:07] KBhatti commented on #372
@Nischalapp @ptsiakos77 is appium 1.6.4 going to solve this issue? I would be surprised if that were the case since I thought this supposed to be a WDA fix.

@ptsiakos77 @mykola-mokhnach what should we try for now. Just have the latest appium version 1.6.3 and and inside it delete the wda and install the latest wda again using "npm install -g xcuitestdriver' ? @mykola-mokhnach should I try your la

[2017-02-04 04:12] Nischalapp commented on #372
Yes please use latest version ya it's a wda fix but in latest appium this
is resolved . npm install -g appium

Uninstall the previous version

npm uninstall -g appium

On 04-Feb-2017 8:37 AM, "Kashif Bhatti" <notifications@github.com> wrote:

[2017-02-04 08:28] ptsiakos77 opened #476 "Test hangs sporadically when set Value is called"
Appium 1.6.4 beta version
XCode 8.2
Run on real device iphone 6s

My test suite hangs sporadically when I type values usually in search fields.(Usually it manages to type a part of value in the field and then stucks). This is not happening consistently but when it happens the logs are as follows:

[HTTP] --> POST /wd/hub/session/033fdfb0-031d-42e0-851f-db8ea44dff3d/element/049105F2-4EC2-48A5-8E24-

[2017-02-04 09:25] channingbreeze opened #477 "can not dump tree for big app"
when I visit /source or /source/xml，I can get tree when iphone is showing desktop or simple app.
but when i open some complicated apps, /source will not work, it is very slow and no response back.
does anyone meet this situation? can anyone help me fix this?
thank you very much!

[2017-02-04 12:06] wangtao169447 commented on #474
@amleszk
https://github.com/appium/appium/issues/7641
have a try?

[2017-02-06 01:52] yuzhidi opened #478 "close"
close

[2017-02-06 01:54] #478 closed

[2017-02-06 01:57] leocone opened #479 "tap cost so long seems because of snapshot"
I send a position {x, y} to tap on web, the log seems during tap, WDA did snapshot (log is below).
Can I ignore the snapshot to speed up the tab action done?

WDA log:
t = 117.41s Find the Application "local.pid.251" 0x157a9150
t = 117.41s Snapshot accessibility hierarchy for local.pid.251
t = 123.66s Find the Application "local.pid.251" 0x157a9150
t = 123.67s Use cached accessibility hierarchy fo

[2017-02-06 09:49] christoff-1992 commented on #471
Agreed, what about static tables where content is offscreen. If we use the workaround for #466 the cell's won't be included as there outside the visible frame.

Is it best to use the scroll method, or is there a way of excluding tables from the check when getting the page source, so the entire table is included in the page source?

Thanks.

[2017-02-06 10:29] marekcirkos commented on #471
@christoff-1992 I am not sure what do you mean.

[2017-02-06 10:31] marekcirkos commented on #479
Snapshots are key components of XCTest framework. Unfortunately there is not much we can do.

[2017-02-06 11:37] christoff-1992 commented on #471
Apologies I should have gone into greater detail, this issue is only persistent with long tables using the workaround in #466, which is needed as it stops the 'Error Domain=XCTestManagerErrorDomain Code=13 "Error copying attributes -25202"' issue.

handleFindVisibleCells checks the visibility of the Cells via fb_isVisible.

However if you where to use the workaround in #466 anything outside of the

[2017-02-06 11:43] marekcirkos commented on #471
That is true and it goes as expected since this is `getVisibleCells` endpoint right?

[2017-02-06 11:50] christoff-1992 commented on #471
Indeed this is the expected behaviour for this method when using the workaround.
Im not sure if this should be the case, it's a 50/50 handoff, in one way it's good that it resolves the -25202 but bad that it hides the cell's when they do exist off screen.

I have added a separate method locally that uses the current behaviour of fb_isVisible for handleFindVisibleCells, so I can have the best of bo

[2017-02-07 01:05] ptsiakos77 commented on #476
guys do you need ant additional info for that? It's kind of blocking for our test suites since it may be sporadic but when we run the whole suite at least one test will be blocked by this cause (not the same)

[2017-02-07 03:19] #479 closed

[2017-02-08 06:30] codeskyblue commented on #453
@marekcirkos  After call `GET /wda/healthcheck` It went to Home Screen.

I'm using this version

[code]

[2017-02-08 07:08] saritau commented on #293
@marekcirkos : Can you pls share some sample code for both the suggestion to be implemented.

Thanks in advance.

[2017-02-08 08:37] thanksdanny commented on #429
i got same problem,too...

[2017-02-08 13:00] marekcirkos commented on #453
@codeskyblue This is expected. WDA tries to run some commands on XCTest to make sure connections are still there. You suppose to use this method between tests, so that it will not influence test themselves

[2017-02-08 13:01] marekcirkos commented on #429
https://github.com/facebook/WebDriverAgent/wiki/Common-Issues#booting-wda-on-device-stops-after-set-up-and-does-not-actually-start-wda

[2017-02-08 13:03] marekcirkos commented on #293
@saritau I am not really able to tho that since 1) this is client specific code, just scroll twice, 2) Is app specific.

[2017-02-08 15:47] codeskyblue commented on #453
thanks a lot

[2017-02-08 16:24] thanksdanny commented on #429
but i restart my mac and iPhone, it still stop at "set up" ，is some step wrong by me ?😂

[2017-02-09 02:35] wxyfight commented on #477
similar question, when I call getPageSource() method with complicated app, it's very slow. I used Appium.

[2017-02-09 14:28] VasilijSviridov commented on #407
@marekcirkos  its working, was able to set and running 4 different iOS devices running in parallel, looks awesome!! :)

Thank you one more time!

[2017-02-09 15:00] ptsiakos77 commented on #453
@marekcirkos
I run the tests in real devices there fore I cannot apply the fix with the keyboard

The thinks is that when the test hung on setValue it hangs for about 4 minutes
Is there way to reduce this timeout? (via a desired capability maybe?)

[2017-02-09 18:41] VTINFOJames opened #480 "XCUITest issue with keyboard input: unrecognized selector sent to instance"
I had reported this to the Appium group and after review I was asked to submit this issue here.
Here is the link to my Appium issue which also contains the Java code I am using which is just sending input into a text field via the keyboard: [https://github.com/appium/appium/issues/7829](https://github.com/appium/appium/issues/7829)
Both "setValue()" and "sendKeys()" result in the same issue. The i

[2017-02-09 19:43] VTINFOJames commented on #476
I just reported a similar setValue() issue with Appium 1.4.6-beta for testing our native iOS app: [https://github.com/facebook/WebDriverAgent/issues/480](https://github.com/facebook/WebDriverAgent/issues/480)

[2017-02-10 10:33] mykola-mokhnach commented on #477
Did you try to update WDA sources to the most recent version? It should work better there, since \@visible attribute has been removed from xml source

[2017-02-10 11:30] ohadschn commented on #301
I just got this on some random test run. Upon inspecting the test screenshot taken at the point of failure, I could clearly see the emulated key typing stopped short. The string I sent was pretty long though, something like "foobar1@mygreatsubdomain.mydomain.com" and it only typed in "foobar1@m".

[2017-02-13 02:10] interhealth commented on #335
It appears the issue of alertAccept() not working in iOS has not be solved.
Anyone have any leads to a workaround?
Thank you

[2017-02-13 10:58] LeicaAPiQ commented on #446
Has anybody reported this issue to apple support team ??

[2017-02-13 11:00] LeicaAPiQ commented on #355
Has anybody reported this issue to apple support team ??

[2017-02-13 20:16] imurchie opened #481 "When setting value, connection is sometimes dropped"
WebDriverAgent sometimes drops the connection with the client. While this can happen randomly with any command, it seems to happen most on resource-constrained systems (when there is low memory, etc.) while sending a `POST` request to `/element/:uuid/value`. This is either felt as the socket hanging up (if waiting for a response) or an ECONNREFUSED error (if sending a request.

A sample of the sor

[2017-02-14 03:39] kiranks4480 opened #482 "Issue while installing .Scripts/bootstrap.h"
Hi Team,

I am new to Node based appium testing , I have followed all the step to setup appium and I am able do proceed with automation also but installation is failing for Inspector installation and I am unable to resolve it

Launching Flow server for /usr/local/lib/node_modules/appium/node_modules/appium-xcuitest-driver/WebDriverAgent/Inspector
Spawned flow server (pid=49737)
Logs will go to /pr

[2017-02-14 03:42] kiranks4480 opened #483 "Issue with uiAutomator2 failing with JAVA_HOME not set"
Hi Team,

I am new to Node based appium testing , I have followed all the step to setup appium and I am able do proceed with automation

uiautomator-2 errors with JAVA_HOME not set
but I have already set the details in bash_profile and it is working well with uiautomator1
Please provide me a feasible solution to resolve this issue

[2017-02-14 03:42] kiranks4480 commented on #483
Sorry wrong forum

[2017-02-14 05:27] vkvikaskmr opened #484 "WebDriverAgent is not working for osx platform."
Hi,
The document says that even though osx is not supported yet but the WebDriverAgent works for osx platform. I tried running it for osx but it is not working. The idea is to automate Mac applications using FB WebdriverAgent. I am trying the following command to start it :

`xcodebuild -project WebDriverAgent.xcodeproj -scheme WebDriverAgentRunner -destination 'platform=OSX,id=5F0026B4-84DF-539A-

[2017-02-14 09:27] marekcirkos commented on #484
Executing iOS target on OSX will not work. You need separate binary target for OSX.

[2017-02-14 09:27] #484 closed

[2017-02-14 09:28] marekcirkos commented on #483
You should raise your issue with Appium.

[2017-02-14 09:28] #483 closed

[2017-02-14 09:29] marekcirkos commented on #482
Can you fetch WDA fro m github directly and check if ./Scripts/bootstrap.sh works for you?

[2017-02-14 09:29] marekcirkos commented on #481
Is it WDA dying or maybe proxy issue?

[2017-02-14 09:31] marekcirkos commented on #446
You should import it independently. Stronger signal to Apple ;)

[2017-02-14 09:48] vkvikaskmr commented on #484
Can you please throw some more light on this. I am not able to create an OSX target for WebDriverAgent by myself.

[2017-02-14 10:15] sixleaves opened #485 "There is an error in building wda"
well.i use the iphone4s that 32bit cpu.when i build wda on this iphone, an error will occur.this error make me cannot communicate with wda, but it can build success.

    DTDeviceKit: Could not start house arrest service for app identifier com.apple.test.WebDriverAgentRunner-Runner [Error Domain=com.apple.dtdevicekit Code=-402653093 "Too many instances of this service are already running." UserInf

[2017-02-14 12:57] imurchie commented on #481
It seems like it is WDA dying. We are sending HTTP commands directly, so there is nothing between the two systems. Unfortunately, nothing comes up in the device logs when the failure happens.

[2017-02-14 15:23] sleekweasel opened #486 "How to 'shake' a headless simulator?"
Running with a simulator window, I can use applescript to select a simulator window and send it a shake keystroke - ^#Z - but is there a way to send that to a headless emulator?

I can probably arrange for my shake-sensitive tests to run on a headed simulator, but it's going to require additional infrastructure I'd prefer to do without.

[2017-02-14 15:23] cosminstirbu opened #487 "WebDriverAgent.bundle: No such file or directory"
Hello,

When building the WebDriverAgentRunner I receive the following error:

WebDriverAgent.bundle: No such file or directory

The bundle is linked in the Resources group but it is missing.
I did remove it from the target but when I try to run the inspector I receive a crash.

Do I have to build the Inspector folder somehow and create a WebDriverAgent.bundle?
Can you please share some commands o

[2017-02-15 00:54] vslobotskoy opened #488 "How to disable the "diagnostic log" created by the xcodebuild when launching WebDriverAgent?"
Each time I launch WebDriverAgent with xcodebuild command, there is a message like this:
IDETestOperationsObserverDebug: Writing diagnostic log for test session to:
/Users/qfactor/WebDriverAgent/DerivedData/WebDriverAgent/Logs/Test/356163F6-32E2-4A39-8CF7-96CADEDA17EC/Session-WebDriverAgentRunner-2017-02-14_193721-04LwDr.log

I use the following command to launch xcodebuild:
xcodebuild -project We

[2017-02-15 04:12] vkvikaskmr opened #489 "How to use WebDriverAgent for automating OSX applications?"
Is there a separate WebDriverAgent project that can be used for automating MacOSX applications?

[2017-02-15 08:49] marekcirkos commented on #488
I am not sure if xcodebuild has specific switch for that, but you can always redirect outputs to /dev/null right?

[2017-02-15 08:49] marekcirkos commented on #489
Nope. If you want to work on OSX support I'll be happy to review it.

[2017-02-15 08:50] marekcirkos commented on #487
Did you run `./Scripts/bootstrap.sh`?

[2017-02-15 08:52] marekcirkos commented on #486
@sleekweasel `WDA` does not support simulating shake, so I can't help you here.

[2017-02-15 08:52] #486 closed

[2017-02-15 08:54] marekcirkos commented on #485
So it fails to start not build. Can you try restarting the phone and host?

[2017-02-15 08:56] marekcirkos commented on #484
I bet if you google for `adding OS X target to xcode project`, you will find something.

[2017-02-15 11:05] cosminstirbu commented on #489
I didn't, I missed exactly the most important part of the documentation.

That was stupid from my side :D.

I did run it an now everything works as expected.

Thank you!

[2017-02-15 11:13] #489 closed

[2017-02-15 11:18] vslobotskoy commented on #488
This is not the standard output of the xcodebuild, it is something it sends from within.

[2017-02-15 16:42] ergagansharma opened #490 "App not launching on the device. Builds correctly and everything is perfect. But still the app not launching."
I was able to complete the setup and follow all the steps. The project builds as well. The Mobile and the computer both are in same network as well and connected with USB. the WDA launches and goes in the background. But I am expecting my app to launch, which is not happening. Tried all the steps provided in the internet, but still no success.

Please check.

Logs Attached.
Last login: Wed Feb 15

[2017-02-15 16:54] VTINFOJames commented on #480
Anyone have any input on this issue?

[2017-02-15 17:38] marekcirkos commented on #480
@VTINFOJames Can you past the full stacktrace?

[2017-02-15 17:40] marekcirkos commented on #480
This was fixed in https://github.com/facebook/WebDriverAgent/commit/6a8281374f5976517bde5f54fb5291c231d7e452, can you try updating?

[2017-02-15 19:59] imurchie commented on #488
We change the permissions on the specific folders within DerivedData, so xcodebuild can't write to it.

[2017-02-16 15:24] vathsalahn opened #491 "Does webdriver Agent support communication on multiple iphones connected"
Hi ,

I am able to communicate on single iphone connected via USB through webdriver agent. Can i use 2 iphones connected to a single mac via usb to communicate simultaneously.Does 8100 port is fixed ??.If i use 2 iphones bot gets connected to same 8100 port?? Can i pass the port value dynamically while starting the webdriver agent.

[2017-02-16 16:07] marekcirkos commented on #491
You can use `USE_PORT` env or `--port` launch argument on host app to overwrite the port.

[2017-02-17 00:54] KBhatti commented on #372
@ptsiakos77 @mykola-mokhnach what should we try for now. Just have the latest appium version 1.6.3 and and inside it delete the wda and install the latest wda again using "npm install -g xcuitestdriver' ? @mykola-mokhnach should I try your latest elegant version..and with or without the "ALTERNATIVE_VISIBILITY_DETECTION" env. variable in xcode?

[2017-02-17 07:33] hepilt commented on #490
I've got same problem, using appium 1.6.4-beta, appium-xcuitest-driver 2.9.0 and last version of WDA

[2017-02-17 08:11] hepilt commented on #490
I should to notice that app is not installed on device

[2017-02-17 09:04] #491 closed

[2017-02-17 09:14] ergagansharma commented on #490
Just noticed that even after changing the build identifier to match my app. I am seeing that in my device it is still showing com.apple.test.WebDriverAgentRunner-Runner. Screenshot attached.
<img width="1005" alt="screen shot 2017-02-17 at 10 10 36" src="https://cloud.githubusercontent.com/assets/22588963/23059471/d7199b6a-f4f9-11e6-8e4c-f56343fd3e4c.png">

[2017-02-17 09:19] marekcirkos commented on #490
WDA is run "under" WebDriverAgentRunner-Runner app, which is how XCUITests work. WDA Should launch your application if installed by bundle ID or it can also install it assuming you passed path to it on session creation

[2017-02-17 09:22] ergagansharma commented on #490
Yeah I am using the same bundle ID to launch the app. Tried removing the app, then it installs the app also WDA gets installed on the device also gets launched, but then goes to background. But the app under test is not getting launched.

[2017-02-17 09:24] ergagansharma commented on #490
Also tried ./Scripts/bootstrap.sh. but this doesnt work for me. It says "-bash: ./Scripts/bootstrap.sh: No such file or directory"

[2017-02-17 09:24] marekcirkos commented on #490
Make sure you use correct bundle ID and also check system logs for more details.

[2017-02-17 09:27] marekcirkos commented on #490
Where do you call it?

[2017-02-17 09:28] ergagansharma commented on #490
I copied and pasted The bundleID for the app into my code. I can see app getting installed in my device. So I can say that there should be no problem with BundleID and app path.

[2017-02-17 09:31] ergagansharma commented on #490
I tried again calling it from the webdriveragent folder. Now I am getting below error:-
Fetching dependencies
Building Inspector
Creating bundle directory...
Building inspector.js...

sh: webpack: command not found

npm ERR! Darwin 15.6.0
npm ERR! argv "/usr/local/bin/node" "/usr/local/bin/npm" "run" "build"
npm ERR! node v7.5.0
npm ERR! npm  v4.1.2
npm ERR! file sh
npm ERR! code ELIFECYCLE
npm ER

[2017-02-17 13:02] ergagansharma commented on #490
Sorry, for late reply. I just checked I missed answering one question. Can you use Xcode's Device view to check if bundleID same as you expected?

Yeah I checked the device view, it shows the same bundleid.

[2017-02-17 15:10] vathsalahn commented on #491
I am using xcodebuild to run tests ..Can u please elaborate on how to pass --port argument to xcodebuild command ..

[2017-02-17 16:48] ergagansharma commented on #490
I got this fixed. I had to install all Node_modules and reinstall appium. Afterwards, I went to WebDriver agent and did a carthage update. Then everything got fixed. Thanks for trying and guidance marekcirkos .

[2017-02-17 21:32] mykola-mokhnach commented on #481
@imurchie I believe it's the same problem as described [here](https://github.com/facebook/WebDriverAgent/issues/453). Just check whether the device log contains this magic string to make sure it is:

[code]

[2017-02-17 21:36] mykola-mokhnach commented on #485
Judging on several recent issue reports for Appium this seems to be a common issue for 32-bit devices and I don't think we can fix it on our side. Just run your tests on a newer 64-bit device :(

@marekcirkos I think we can add this type of error to our knowledge base.

[2017-02-17 21:40] mykola-mokhnach commented on #488
@vslobotskoy this is an expected behaviour if you set _preventWDAAttachments_ Appium capability to _true_. You may reset permissions to DerivedData folder manually and set _clearSystemFiles_ capability to _true_ to clean up these files on session termination.

Unfortunately XCTest framework does not provide any standard interfaces to disable attachments creation and partition flooding, so we need

[2017-02-17 21:42] mykola-mokhnach commented on #476
Possible duplicate of https://github.com/facebook/WebDriverAgent/issues/453

[2017-02-17 21:50] mykola-mokhnach commented on #474
@amleszk We had a similar issue when a CollectionView was constantly updated due to "hacky" implementation. XCUIElement instances (this is the main class, which XCTest uses to represent accessibility controls) are automatically updated every time when app interface is updated. So the XCTest framework simply cannot properly receive the accessibility structure of the app, since it's constantly being

[2017-02-17 21:54] marekcirkos commented on #491
I think you need separate schemes for that.

[2017-02-17 21:55] #490 closed

[2017-02-17 21:58] marekcirkos commented on #481
It should not die. This error usually occurs after 60s and WDA is responsive afterwords. Maybe proxy has faster timeout or something?

[2017-02-17 21:59] marekcirkos commented on #485
@mykola-mokhnach anyone can, Wiki's are open.

[2017-02-17 22:00] marekcirkos commented on #485
Plus it is already there https://github.com/facebook/WebDriverAgent/wiki/Common-Issues#booting-wda-on-device-stops-after-set-up-and-does-not-actually-start-wda

[2017-02-17 22:00] #485 closed

[2017-02-17 22:00] #487 closed

[2017-02-17 22:00] #488 closed

[2017-02-18 06:26] lujian2036 commented on #482
`Validating Inspector
Launching Flow server for /usr/local/lib/node_modules/appium/node_modules/appium-xcuitest-driver/WebDriverAgent/Inspector
Spawned flow server (pid=37693)
Logs will go to /private/tmp/flow/zSusrzSlocalzSlibzSnode_moduleszSappiumzSnode_moduleszSappium-xcuitest-driverzSWebDriverAgentzSInspector.log
No errors!

/usr/local/lib/node_modules/appium/node_modules/appium-xcuitest-drive

[2017-02-18 07:55] mykola-mokhnach commented on #481
Our proxy has default timeout set to 240 seconds, but this does not help :(

[2017-02-18 15:17] amleszk commented on #474
Thanks @mykola-mokhnach - Doesnt seem to be a solidly reproducible issue right now, but what you said about the the Appium DOM constantly updating seems like a good lead. Thanks for feedback also @wangtao169447

[2017-02-20 06:15] hepilt opened #492 "No "eslint-config-appium" error while bootstrap.sh executing"
Got this error everytime when I try to build WDA using bootstrap.sh
How can I fix it?

Cannot find module 'eslint-config-appium'
Referenced from: /usr/local/lib/node_modules/appium/node_modules/appium-xcuitest-driver/.eslintrc
Error: Cannot find module 'eslint-config-appium'
Referenced from: /usr/local/lib/node_modules/appium/node_modules/appium-xcuitest-driver/.eslintrc
    at ModuleResolver.reso

[2017-02-20 09:02] marekcirkos commented on #492
This is appium issue. Please raise this issue there.

[2017-02-20 09:02] #492 closed

[2017-02-20 09:46] hepilt commented on #492
@marekcirkos are you sure? I'm trying to build WDA, appium seems not use eslint package

[2017-02-20 09:50] marekcirkos commented on #492
It tired to reference `eslint-config-appium`, which we do not reference inside WDA.

[2017-02-20 19:15] mayukataoka commented on #293
Is there a sample code to perform search in iOS?

I am also getting the following error.

E               WebDriverException: Message: An unknown server-side error occurred while processing the command. Original error: Error Domain=com.facebook.WebDriverAgent Code=1 "Failed to perform scroll with visible cell due to max scroll count reached" UserInfo={NSLocalizedDescription=Failed to perform scrol

[2017-02-21 10:51] ohadschn commented on #453
For anyone encountering this using `wd` (node.js client for webdriver), here's a convenient client-side retry method:

[code]

[2017-02-22 01:52] tyhcmu opened #493 "FBXPath parses Unicode?"
Hi,

I was using Appium v1.6.3 to test a native app, and got the following error when manipulating elements in a page containing Unicode texts:

[debug] [WebDriverAgent] Sim: Feb 21 17:00:25 MSJCIT1024873 XCTRunner[43698]: Failed to invoke libxml2>xmlTextWriterStartElement. Error code: -1
[debug] [WebDriverAgent] Sim: Feb 21 17:00:25 MSJCIT1024873 XCTRunner[43698]: Failed to generate XML presentat

[2017-02-22 09:48] marekcirkos commented on #493
cc: @mykola-mokhnach

[2017-02-22 12:33] mykola-mokhnach commented on #493
what type of Unicode is it? I didn't see any problems so far with UTF-8 for example.

[2017-02-23 02:55] tyhcmu commented on #493
Hi @mykola-mokhnach,
Sorry for the misleading information. I double checked the app source code and it is actually a special control character ETX that breaks the parsing. Closing the issue.

[2017-02-23 02:55] #493 closed

[2017-02-26 09:40] JonGabilondoAngulo opened #494 "Application bundleID as "com.company.appname" instead of "local.pid.XXX" ?"
Hi,
property "bundleID" of FBApplication returns always an string of type "local.pid.XXX".
Is it possible to get the real bundle ID somehow ?

Thanks.

[2017-02-27 09:01] marekcirkos commented on #494
@JonGabilondoAngulo I don't think so. Why you need it?

[2017-02-27 11:33] MaxTwentythree commented on #482
Same problem here

[2017-02-27 11:56] NingLu opened #495 "Webpack has been initialised using a configuration object that does not match the API schema"
hi,
i want to use webdriveragent to do ios automation test, after execute "./Scripts/bootstrap.sh", error occurs, is there anything wrong? i've installed web-pack, carthage
`./Scripts/bootstrap.sh
Fetching dependencies
Building Inspector
Creating bundle directory...
Building inspector.js...

Invalid configuration object. Webpack has been initialised using a configuration object that does not match

[2017-02-27 16:38] MaciejCiach opened #496 "Run WebDriverAgent without XCode"
Any chance to run WebDriverAgent without XCode ? For ex. when iPhone is connected to Windows Machine

[2017-02-27 17:16] marekcirkos commented on #496
XCTest requires XPC connection to host. So in theory if you can mock that it could be possible. Tho there is nothing that I know of that works.

[2017-02-27 20:00] JonGabilondoAngulo commented on #494
Hi
I thought it could be useful to know when an action occurred not in the application under test, e.g. the springboard.

[2017-02-28 08:48] marekcirkos commented on #494
You can now that from WDA code. You can simply check active app against app assigned to session.

[2017-02-28 08:48] #494 closed

[2017-02-28 08:55] #496 closed

[2017-02-28 08:56] marekcirkos commented on #495
This is Appium issue in nesting WDA inside it. If you fetch WDA independently it will work. Please raise a ticket on Appium repo.

[2017-02-28 08:56] #495 closed

[2017-02-28 08:57] marekcirkos commented on #482
This is Appium issue in nesting WDA inside it. If you fetch WDA independently it will work. Please raise a ticket on Appium repo.

[2017-02-28 08:57] #482 closed

[2017-02-28 08:57] #480 closed

[2017-02-28 08:57] #477 closed

[2017-02-28 09:42] lixiaoyudakeke opened #497 "appium + WebDriverAgentRunner"
when i run cd  /usr/local/lib/node_modules/appium/node_modules/appium-xcuitest-driver/WebDriverAgent
xcodebuild -project WebDriverAgent.xcodeproj -scheme WebDriverAgentRunner -destination 'id=真机的udid' test

is error
`Test Suite 'Selected tests' started at 2017-02-28 17:18:20.666
Test Suite 'WebDriverAgentRunner.xctest' started at 2017-02-28 17:18:20.671
Test Suite 'WebDriverAgentRunner.xctest' fai

[2017-02-28 21:22] jjacquet opened #498 "dragfromtoforduration does not respect coordinate inputs"
I am trying to get the view in a safari browser to swipe down using the following command on a simulator:

`curl -X POST $JSON_HEADER -d "{fromX:0,fromY:60,toX:0,toY:500,duration:0.5}" $DEVICE_URL/session/$SESSION_ID/uiaTarget/0/dragfromtoforduration`

the screen scrolls up so I changed `toY:500` to `toY:-500` and still the same behavior.  I inputted `0` for all `X` and `Y` values and still the sa

[2017-03-01 07:29] drapostolos commented on #300
is there a way to follow this issue in the apple bugtracker?

[2017-03-01 09:25] marekcirkos commented on #498
I think your curl command is wrong. You should quote escape all parameters.
`"{\"fromX\":\"0\",\"fromY\":\"60\",\"toX\":\"0\",\"toY\":\"500\",\"duration\":\"0.5\"}" `

[2017-03-01 09:26] marekcirkos commented on #300
You should open your own, to give Apple stronger signal.

[2017-03-02 06:34] thejuskrishna commented on #216
I think the author meant Multiple instances of WDA on multiple devices to support parallel runs.
@upasnapandey pls confirm

At present even if you launch two instances (device#1 and device#2 respectively) of Appium say one on port 4723 and other on port 4727, WDA is launched only on localhost:8100. The run in 4727 (if triggered after 4723) will fail because the run happening in 4723 has already la

[2017-03-02 06:35] thejuskrishna commented on #216
Adding the error from appium as well:
[code]

[2017-03-02 06:59] hepilt opened #499 "Can I send arguments to app?"
Hi!

I can't find any links to support, so asking here: can I send to my app arguments during launch using WDA?

BR, Hepilt.

[2017-03-02 09:01] jjacquet commented on #498
That could possibly be the solution, but i am unable to confirm as I am getting the following error using my previous curl and your new approach

`  "value" : "Unhandled endpoint: \/session\/E17C3A78-4D64-4EAA-BC73-9FD9E81286D7\/uiaTarget\/0\/dragfromtoforduration -- http:\/\/localhost:8100\/ with parameters {\n    wildcards =     (\n        \"session\/E17C3A78-4D64-4EAA-BC73-9FD9E81286D7\/uiaTarg

[2017-03-02 10:14] VenkateshPS commented on #335
When is this expected to be fixed?

Regards
Venkatesh

[2017-03-02 10:41] marekcirkos commented on #498
We changed endpoints to be more WD spec compliant try `/wda/dragfromtoforduration` instead

[2017-03-02 10:44] marekcirkos commented on #499
You do this by adding `desiredCapabilities` to session start. Eg.
[code]

[2017-03-02 10:45] marekcirkos commented on #499
We probably should add this to docs

[2017-03-02 10:48] marekcirkos commented on #216
@thejuskrishna You should raise this issue with Appium as this is matter of Appium supporting it. As I mentioned You can launch multiple simulators/devices with one WDA instances per simulator/device. All you need to do is set different port for each one.

[2017-03-02 11:13] marekcirkos commented on #335
So far we do not plan to work on auto accepting alerts. Tho, feel free to pop a PR, if you want to do it

[2017-03-02 12:23] adolli opened #500 "homescreen will fail if SpringBoard not on the top activity"
I am running an app and the screen locked. When I request to homescreen, I mean press home to unlock, I got the following outputs.
[code]

In spite of this output, I think there is no problem when I press home to resume my running app.

[2017-03-02 12:27] adolli commented on #500
By the way, request to homescreen's endpoint is /wda/homescreen. Maybe the wiki should be updated.

[2017-03-02 12:40] marekcirkos commented on #500
What do you mean by locked screen?

[2017-03-02 13:00] adolli commented on #500
I leave my iPhone idle with an app running. The screen turns dark and auto locked after 1 min. I do the following command twice and got an "Error message" above.
`curl -X POST $JSON_HEADER -d "" $DEVICE_URL/wda/homescreen`

[2017-03-02 13:22] marekcirkos commented on #500
Yeah, we definitely, don't handle navigating to homescreen from locked view.
Btw. Instead of waiting 1 min you could consider using `wda/deactivateApp`.

[2017-03-02 13:28] adolli commented on #500
Waiting for 1 min is not my initial purpose. I'm using a ci-test system and it was not able to handle all situation normally now. So each time before I start to test, I wake up the iPhone and entering the home screen.

[2017-03-02 17:05] jjacquet commented on #498
You the man @marekcirkos A few things to note things:

- Using the new `wda/dragfromtoforduration ` endpoint is functioning and replaces `/uiaTarget\/0\/dragfromtoforduration`
- Escaping the parameters works, is annoying, but to be expected when working with the cUrl
- The previous syntax for coordinate parameters `"{fromX:0,fromY:0,toX:0,toY:0,duration:0.1}" ` can be used as a hack to send the vi

[2017-03-03 11:37] hepilt commented on #499
I've used this parameter, but app didn't receive any parameters

[code]

[2017-03-04 15:19] xudafeng opened #501 "😃 app crash when inspector runs"
We got app crash in some apps, when request `/inspector`.

Break point to this line:

https://github.com/facebook/WebDriverAgent/blob/master/WebDriverAgentLib/FBApplication.m#L44

[code]

[2017-03-04 15:21] xudafeng commented on #501
link https://github.com/facebook/WebDriverAgent/issues/340

[2017-03-04 15:26] xudafeng commented on #501
https://github.com/facebook/WebDriverAgent/issues/382

[2017-03-05 00:54] shapovalovei opened #502 "How delete cookies from real iOS Device ?"
I use Appium, Appium use WebDriverAgent.
In WebDriverAgent documentation I found endpoints for cookies

How delete cookies from real iOS Device ?

[2017-03-06 08:23] lyt19871224 opened #503 "Why do “name attribute” of the element has some space in front"
hi,

some element's name attribute contains space，like “name=  超值折扣  50家”  ,four spaces in front of 超值折扣
the commands：
curl -X POST $JSON_HEADER -d "{\"using\":\"link text\",\"value\":\"name=  超值折扣  50家\"}"  $DEVICE_URL/session/$SESSION_ID/elements

![2 pic](https://cloud.githubusercontent.com/assets/7929135/23601489/a73c74ae-0286-11e7-841a-ba2642d08252.jpg)

I don‘t know why ，my react native code

[2017-03-06 08:30] marekcirkos commented on #503
Yep, It can be either icon or ReactNative collecting accessibilityLabel from it's subviews. As far as I remember ReactNative will set view's accessibility label as space joined accessibility labels of it's descendants.

[2017-03-06 08:31] marekcirkos commented on #499
That looks correct. How are you testing it?

[2017-03-06 08:31] lyt19871224 opened #504 "recognize elements more sophisticated"
![1 pic_hd](https://cloud.githubusercontent.com/assets/7929135/23602140/dea43618-0289-11e7-9a73-e66f7e1e92ac.jpg)
it‘s a react native page.  the view contains four parts : the icon ,the超值折扣，the 50家,the 》image

But,webdriveragent recognize it like the illustrations above.
Whether webdriveragent can recognize the four element separately.

[2017-03-06 08:32] marekcirkos commented on #502
We do not handle cookies at all. Can you point me that endpoint?

[2017-03-06 08:37] marekcirkos commented on #501
`resolve` method will trigger accessibility engine to collect data about views. As I mentioned in issues you linked this is most likely application issue. It is highly probable it will also crash when accessibility is turned on. Altho accessibility does a bit more for testing.

If you cannot find problem with the app, it might be XCUITest/Accessbility problem and you should raise a ticket with App

[2017-03-06 08:43] lyt19871224 commented on #504
![2606bc65c1e118a50ad65fa54d14be8b](https://cloud.githubusercontent.com/assets/7929135/23602495/cca8e204-028b-11e7-99e5-a767698b6951.jpg)
xcode accessibility can get it .

[2017-03-06 08:57] marekcirkos commented on #504
WDA indirectly uses accessibility. However from you screenshot you can see that element you pointed has more detailed subelements (as accessibility can see it)? Unless I didn't get your point?

[2017-03-06 09:26] lyt19871224 commented on #504
I mean that  why the wda get the "超值折扣 50家" ， I want "超值折扣"  or “50家” , not the "超值折扣  50家" .

[2017-03-06 09:29] lyt19871224 commented on #504
wda only provider me the "超值折扣 50家" ,not  "超值折扣".
curl -X POST $JSON_HEADER -d "{\"using\":\"link text\",\"value\":\"name=  超值折扣\"}"  $DEVICE_URL/session/$SESSION_ID/elements

result:
{
  "value" : [

  ],
  "sessionId" : "3D745EAD-E69B-4A04-B2E8-01C4F7EF082C",
  "status" : 0
}

[2017-03-06 09:36] lyt19871224 commented on #504
My goal is to execute the command successfully:
curl -X POST $JSON_HEADER -d "{"using":"link text","value":"name= 超值折扣"}" $DEVICE_URL/session/$SESSION_ID/elements

now exits two problems 1.the space in front 2.the level .
actually if I can get the last RCTView of "超值折扣"  which I think it  has no space , all of them will be solved.  (as you said in https://github.com/facebook/WebDriverAgent/issues/

[2017-03-06 13:01] shapovalovei commented on #502
https://github.com/appium/appium-xcuitest-driver/blob/master/docs/endpoints.md

<img width="1079" alt="screen shot 2017-03-06 at 15 00 34" src="https://cloud.githubusercontent.com/assets/8914951/23610995/b8e03e06-027d-11e7-922b-30af7b4b44f7.png">

What I must do ? How me clear session on real ios device ?

[2017-03-07 00:46] yaphatak opened #505 "Click sometimes consumes very high memory on macs running with simulator"
@marekcirkos have you see this when testing internally ?

[2017-03-07 08:41] skytraveler commented on #265
I changed  testRunner  of  UITestingUITests.m as below
`
- (void)testRunner
{
  [FBConfiguration shouldShowFakeCollectionViewCells:YES];
   //[[FBWebServer new] startServing];
    [[FBHTTPOverUSBServer new] startServing];

}`

but after the  app I installed in the real device  using xcodebuild I got the information below.

Test Suite 'All tests' started at 2017-03-07 16:24:21.703
Test Suite 'WebDr

[2017-03-07 09:57] marekcirkos commented on #505
@yaphatak Nope. Is WDA or some other process? It might be worth investigating

[2017-03-07 09:58] marekcirkos commented on #265
@skytraveler If you run WDA out of the box on device, it will listen on USB.

[2017-03-07 12:07] pavanbachu0604 opened #506 "openURL deprecated"
This issue is continuation to the Issue #7952 ` https://github.com/appium/appium/issues/7952` in Appium.

@marekcirkos I tried changing the Deployment to iOS 10.3 and I am facing above issue.

<img width="1391" alt="screen shot 2017-03-07 at 7 07 34 am" src="https://cloud.githubusercontent.com/assets/21222084/23655821/c6ab566a-0304-11e7-9c7c-cb486ba3d79f.png">

[2017-03-07 14:42] hepilt commented on #499
In test app i've got all params that were send to it in start

[2017-03-07 18:53] vjmaiky opened #507 "WDA session stops when running test sets with over then 30 tests"
# _**Environment**_

- Appium version: 1.6.4
- Latest version of WDA
- Desktop OS/version used to run Appium: Mac OS 10.11.6
- Node.js version: v7.4.0
- Mobile platform/version under test: iOS 10.2.1 (iPhone 6+)
- Real device: iPhone 6+

# _**Details**_

Basically i have test sets with over 30 test each. I let them to run on night but after 30-40 tests everything stops. I do not have the exact err

[2017-03-07 21:12] yaphatak commented on #505
I am running on `10.2.1`. I see it goes [here](https://github.com/facebook/WebDriverAgent/blob/6a8281374f5976517bde5f54fb5291c231d7e452/WebDriverAgentLib/Categories/XCUIElement%2BFBTap.m#L56-L61) and then memory of AUT shoots to almost 5-6 GB. I guess nothing `WDA` can do here. But I just wanted to understand if you guys see this FB or other apps testing.

[2017-03-07 22:15] jjacquet opened #508 "How do I set a value of a toggle switch on an iOS sim?"
I want to turn off **Auto-Correction** in **General>Keyboards** on an iOS simulator. Clicking into it with cUrl is not a problem, but how do I pass the value `0` to the on/off switch?

`
curl -X POST $JSON_HEADER -d "{\"using\":\"link text\",\"value\":\"label=Auto-Capitalization\"}" $DEVICE_URL/session/$SESSION_ID/elements
`

`
{
  "value": [
    {
      "ELEMENT": "5EB2F7C1-807D-4A7E-8401-F6F6EB8

[2017-03-07 22:27] jjacquet commented on #508
I ended using `XCUIElementTypeSwitch ` with a `click` endpoint and that worked, but I would still be interested if there was an absolute way to pass a value.

[2017-03-08 10:56] uimator commented on #281
+1， same like phoebusliang。 @marekcirkos please help。

[2017-03-08 12:38] ashisht99x opened #509 "duplicate declaration of method 'pressForDuration:thenDragToCoordinate:"
I get this compile time error while running the command:

**xcodebuild -project WebDriverAgent.xcodeproj \
           -scheme WebDriverAgentRunner \
           -destination 'platform=iOS Simulator,name=iPhone 7' \
           test**

Any Help ?

[2017-03-08 15:31] marekcirkos commented on #509
Which Xcode do you use?

[2017-03-08 15:34] ashisht99x commented on #509
I am using Xcode 8.0

[2017-03-08 15:54] marekcirkos commented on #509
Can you try 8.2.1?

[2017-03-08 17:17] ashisht99x commented on #509
Tried with Xcode 8.3 Beta. It works. Thanks a lot :)

[2017-03-09 01:20] carbonfish commented on #507
I think it is a known issue of apple.
http://stackoverflow.com/questions/39464682/dtdevicekit-could-not-start-house-arrest-service-for-app-identifier-xxx

[2017-03-09 06:04] vjmaiky commented on #507
this is the state taken from Appium console:

[debug] [XCUITest] Executing command 'findElement'
[HTTP] <-- POST /wd/hub/session/6d8146ec-4240-4aaa-941c-68b98e4ed7ca/element - - ms - -
[HTTP] --> POST /wd/hub/session/6d8146ec-4240-4aaa-941c-68b98e4ed7ca/element {"using":"xpath","value":"//XCUIElementTypeStaticText[@name='Betreff']/preceding-sibling::XCUIElementTypeTextField[1]"}
[debug] [MJSONWP]

[2017-03-09 06:07] vjmaiky commented on #507
my Logs:

Caused by: org.openqa.selenium.WebDriverException: org.apache.http.NoHttpResponseException: 0.0.0.0:4723 failed to respond
Build info: version: '2.53.0', revision: '35ae25b1534ae328c771e0856c93e187490ca824', time: '2016-03-15 10:43:46'
System info: host: 'Leventes-Mac-mini.local', ip: '172.16.102.60', os.name: 'Mac OS X', os.arch: 'x86_64', os.version: '10.11.6', java.version: '1.8.0_45'

[2017-03-10 01:12] adfghzhang opened #510 "doesn't type anything in TextField when a numeric only keyboard shown"
![qq 20170308174610](https://cloud.githubusercontent.com/assets/20984179/23777764/c69e7caa-0571-11e7-8135-cc737f89057d.png)

{"using":"xpath","value":"/XCUIElementTypeApplication/XCUIElementTypeWindow[1]/XCUIElementTypeOther/XCUIElementTypeOther/XCUIElementTypeOther/XCUIElementTypeOther/XCUIElementTypeOther[2]/XCUIElementTypeTextField[1]"}
[JSONWP Proxy] Got response with status 200: {"value":{"EL

[2017-03-14 07:26] rajanbharti commented on #507
I am also having same issue, can anyone help?

[2017-03-14 09:40] tyutyunnykusa opened #512 "Question: Lock the device."
Is there any way to lock real device? Thank you!

[2017-03-14 11:33] kenmcc commented on #507
I noticed the same thing recently, but I'm not sure there's a definite 'number'.
my test sequence is like this (real ipadpro, ios10.2.1):
for each test run:
    launch youtube app
    for each loop in test run:
         for each of 3 videos i want to search:
              tap coordinates for search icon  (wait 3 seconds to settle)
              enter the title of the video to find    (wait 3 secon

[2017-03-14 15:04] omsting opened #514 "Appium 1.6.4-beta iOS: GetScreenshot() error base-64"
## The problem

Often on iOS I get an error when I take a screenshot with Driver.GetScreenshot() or Driver.TakeScreenshot(). You can find my logs (Appium and Nunit) below in Gist, you'll see that I get an error when the screenshot is basically empty. Sometimes it works for the same test on the same device. Please tell me if you need more information.

## Environment

* Appium version: 1.6.4 beta
*

[2017-03-14 15:13] mykola-mokhnach commented on #504
@lyt19871224 Try to use location by predicate. It is still fast and allows to perform lookup by partial value, for example:

[code]

[2017-03-14 15:51] tyutyunnykusa commented on #512
Thanks for quick reply!

[2017-03-14 15:51] #512 closed

[2017-03-14 17:14] qmfrederik commented on #496
@MaciejCiach We have a commercial solution that supports running the WebDriverAgent on Windows & Linux. Ping me at frederik.carlier@quamotion.mobi if you want to know more.

@marekcirkos I think we talked about this at the Selenium conference in London last year. Let me know if you feel this message is not appropriate, and I'll remove it.

[2017-03-14 17:29] lewbloch commented on #372
I see this error message even though there are no animations on the screen and the code is paused in the debugger.

[2017-03-14 18:06] lewbloch commented on #372
If I use just the latest Appium build, I see multiple messages in the log with this error:

`2017-03-14 11:03:52:548 - [debug] [WebDriverAgent] Sim: Mar 14 11:03:52 mtvl138a3ed4a XCTRunner[96188]: Enqueue Failure: UI Testing Failure - Failure fetching attributes for element <XCAccessibilityElement: 0x608000449060> Device element: Error Domain=XCTestManagerErrorDomain Code=13 "Error copying attribu

[2017-03-14 22:49] marekcirkos commented on #507
As @carbonfish mentioned this is known Xcode issue. Unfortunately there is nothing we can do :/

[2017-03-14 22:52] marekcirkos commented on #514
It looks like we respond with empty value. Does it fail in any particular cases?

[2017-03-14 22:55] marekcirkos commented on #503
Closing as this is not WDA's issue

[2017-03-14 22:55] #503 closed

[2017-03-14 22:57] marekcirkos commented on #504
Contains will not work for him as he he has bunch of elements containing '超值折扣'.
If you do exact match with space it should work.
However I would suggest explicitly setting testID with ReactNative and using that instead default generated ones.

[2017-03-14 22:58] marekcirkos commented on #512
Sadly that is true

[2017-03-15 09:40] kenmcc commented on #507
What carbonfish mentioned as the known xcode issue is for the iphone5c device afaik, and I've seen that on older ipads also. But that issue is not seen on the newer ipad/iphone 6, where we can start many many sessions in a row without having to reboot the device.

It probably doesn't help that the original post references 2 different issues - the one I referred to yesterday that I'm also seeing is

[2017-03-15 13:44] omsting commented on #514
Yes, as you can see in the nunit test, we get an error at GetScreenshot(), because the input is not a valid Base-64 string. And it should not return an empty value, but I don't know why it does. It works sometimes, but fails most of the time. We have around 1/3 of the tests on iOS affected by this problem and it works perfectly on Android.

[2017-03-15 16:02] VasilijSviridov opened #515 "device width and height"
Hi,

Quick one, how do I get device width and height ?

Cheers

[2017-03-15 16:05] marekcirkos commented on #515
You mean physical ;)? If you query element type application it's frame should represent screen size.

[2017-03-15 16:06] VasilijSviridov commented on #515
Got it,
 "rect" : {
        "y" : 0,
        "x" : 0,
        "width" : 320,
        "height" : 568
      },
Cheers

[2017-03-15 16:06] marekcirkos commented on #507
I have seen this issue on other devices as well so I don't think this is device specific

[2017-03-15 16:07] #515 closed

[2017-03-15 16:15] kenmcc commented on #507
What do you mean by 'this' issue? this initial query refers to at least 2 'issues';
1 - seems to be WDA hanging after a bunch of tests

Setup is an iphone 6+

2 - the known issue with 'too many instances of this service are already running

And indeed that is not device specific, I've seen it on an ipad and ipad mini, circa 2012 generations

I'm referring to the issue 1 which i've seen on a new Ip

[2017-03-15 16:17] rajanbharti commented on #507
It's not device specific, i tested on 5 different devices. Same problem on every device.

[2017-03-15 19:32] hepilt commented on #499
@marekcirkos any ideas?

[2017-03-16 08:27] shapovalovei commented on #502
any comment about that ?

[2017-03-16 09:19] laiyuncong8404 commented on #429
@thanksdanny me too. Have u solve this problem now?

[2017-03-16 12:19] marekcirkos commented on #429
Try rebooting host. Most of the time works for me

[2017-03-16 12:21] marekcirkos commented on #502
Sorry I missed your comment. This is Appium endpoint list WDA does not handle cookies. I would ask them how they map them. Maybe they use imobiledevice.

[2017-03-16 12:21] #502 closed

[2017-03-16 12:25] marekcirkos commented on #507
They are both Xcode known issues, there is nothing WDA can do as it hangs before even WDA is invoked. Best you can do is to file a bug with Apple.
I know it sucks and I would love it fixed as well, but we need to wait for Apple to fix it

[2017-03-16 12:25] #507 closed

[2017-03-16 12:26] marekcirkos commented on #499
Let me check that over the weekend.

[2017-03-16 12:49] shapovalovei commented on #502
@marekcirkos Thanks, wait for you answer

[2017-03-17 01:04] laiyuncong8404 commented on #429
@marekcirkos I have reboot my Mac and iPhone, but it doesn't for me, so sad.

[2017-03-17 10:12] marekcirkos commented on #429
@laiyuncong8404 Yeah this is sad, Unfortunately I can't help you here :/

[2017-03-20 13:39] easingboy opened #516 "Why UI Testing Fail When A XCTest(unit test) is running in another project?"
when i only run webdriveragent runner, it works well.
but if i lauch another xctest(unit test) at the same time,  WDA runner does not work.
such as:

     1. visitor  localhost:8100:inspector;  error log are :

    1102

     2. when excute lauch app;
2.1 error log are:

    t =   319.49s         Terminate <XCUIApplicationProcess: 0x1702a4f80 com.xxxxx.demoApp (341)>
2017-03-20 21:35:32.637210 XCT

[2017-03-20 15:03] marekcirkos commented on #516
All XCTests use test manager daemon so I guess there is some weird bug when test sessions are confused. Does it happen when you ran other UITests?

[2017-03-21 12:52] lyt19871224 commented on #504
Hi, the wda can recognize testId .  When setting testId, must  set  component that rn provide.  If your component  is  a  custom   component,please let the testId attribute can be  passed to the component which rn provide.

eg.
xxx.js
<customerbutton testID={'the_name_of_mybutton'}><Text></>

customerbutton.js
<TouchableOpacity    testID={this.props.testID} >

TouchableOpacity is the component tha

[2017-03-21 12:57] lyt19871224 commented on #504
`xxx.js
<customerbutton testID={'the_name_of_mybutton'}>
   <Text>something </Text>
</>

customerbutton.js
<TouchableOpacity testID={this.props.testID}> ....
`

[2017-03-21 12:58] lyt19871224 commented on #504
customerbutton.js
`< TouchableOpacity   testID={this.props.testID} ...`

[2017-03-22 02:39] #504 closed

[2017-03-22 09:18] lyt19871224 opened #517 "TouchableOpacity does not support the testID attribute？"
Hi，when I set testID to the component,some rn component seems not support.
eg.
`<TouchableOpacity  testID={'citylist'}>{this.props.some}</TouchableOpacity>`
 it won't work,wda can't get one element called citylist.

but,TouchableHighlight can .  why?

[2017-03-22 09:59] marekcirkos commented on #517
You should ask that question on ReactNative repo. Unfortunately I cannot help you here.

[2017-03-22 09:59] #517 closed

[2017-03-22 11:22] srinidhipatel opened #518 "A new session could not be created. Details: Appium's IosDriver does not support xcode version 8.2. Apple has deprecated UIAutomation. Use the "XCUITest" automationName capability instead."
History:
1. Installed appium 1.6.0 beta
2. Xcode 8.2
3. bootstrap.sh is not running as expected
 xxx-MacBook-Pro:WebDriverAgent xxx$ ./Scripts/bootstrap.sh -d
Fetching dependencies
xxx-MacBook-Pro:WebDriverAgent xxx$

inside myconfig.xcconfig file i have added
DEVELOPMENT_TEAM = <Team ID>
CODE_SIGN_IDENTITY = iPhone Developer

**I looked many threads nothing was working out for me.. Please suggest

[2017-03-23 12:15] marekcirkos commented on #499
@hepilt Hey I checked it and it seems to work fine. How are you checking envs? Can you also paste whole session creation request?

[2017-03-23 12:15] #501 closed

[2017-03-23 12:15] #509 closed

[2017-03-23 12:16] marekcirkos commented on #516
@easingboy ping

[2017-03-23 12:18] marekcirkos commented on #518
This is clearly not WDA issue rather Appium. However did you try using "automationName": "XCUITest" instead as it asked?

[2017-03-24 00:50] #474 closed

[2017-03-24 00:52] marekcirkos commented on #506
It should not be a problem with new beta

[2017-03-24 00:52] #506 closed

[2017-03-24 03:33] ZFWAWJ opened #521 "Early unexpected exit, operation never finished bootstrapping - no restart will be attempted"
writeDictToFile:1278 ==== Successfully wrote Manifest cache to /var/folders/2d/qcfn_dsj02g397tb7n0s6mk40000gn/C/com.apple.DeveloperTools/All/Xcode/EmbeddedAppDeltas/764f0396f7430e2b28bbfac3d2443e30/19aea273bf8037ad53c258d8651c5b3d87a899bd/ManifestCache.plist
2017-03-24 11:26:41.811 xcodebuild[62395:2607218] Error Domain=IDETestOperationsObserverErrorDomain Code=5 "Early unexpected exit, operation

[2017-03-24 03:33] ZFWAWJ commented on #521
Please help me~~~~thank you

[2017-03-24 09:32] marekcirkos commented on #521
It is Xcode's known issue. I need to add them to Known issues

[2017-03-27 15:16] imurchie commented on #518
@srinidhipatel Please search the [Appium Issues](https://github.com/appium/appium/issues). You might also want to upgrade to a more recent version of Appium.

@marekcirkos feel free to close this.

[2017-03-27 15:17] #518 closed

[2017-03-27 15:19] imurchie opened #524 "isVisible always returns true"
"Always" might be hyperbole. But since https://github.com/facebook/WebDriverAgent/commit/fa1a7c5e575c54319593d0b5e033e59ccf34dfbc elements that are not visible are marked as visible, and scrolling to visible does not work (presumably because things are already "visible").

[2017-03-27 15:35] imurchie commented on #524
I should add that this is tested looking at a table cell within a table view.

[2017-03-27 15:39] marekcirkos commented on #524
@imurchie There is one fix waiting to land. Tho that would fix landscape issues. If you could provide PR with sample, I would be happy to work on that.

If that is particular problematic you can use `shouldUseTestManagerForVisibilityDetection` in capabilities to switch to old behaviour.

[2017-03-28 06:54] mykola-mokhnach commented on #372
https://github.com/facebook/WebDriverAgent/commit/7d2896e9453b034ff69f777d594c91836c8c25f8 should fix the problem described in this issue.

[2017-03-28 07:59] SatishKumarKV commented on #476
Bug filed. ID : 31293498

[2017-03-28 08:00] SatishKumarKV commented on #453
Bug filed. ID : 31293498

[2017-03-28 10:07] da00428327 opened #526 "Unhandled Endpoint when getting page source"
When getting the page Source using driver.getPageSource() in Appium 1.6.3, getting as Unhandled Endpoint.

Appium Server log:
[JSONWP Proxy] Proxying [POST /source] to [POST http://localhost:8100/session/D731F61E-1F5E-4DFB-BA22-DB1A525314AC/source] with no body
[debug] [JSONWP Proxy] Got response with status 200: "{\n  \"sessionId\" : \"D731F61E-1F5E-4DFB-BA22-DB1A525314AC\",\n  \"value\" : \"Unha

[2017-03-29 02:25] lujun-wuhan opened #527 "xcode 8.3 build error"
While building module 'XCTest' imported from /Users/devicepass/stf/WebDriverAgent/WebDriverAgentRunner/UITestingUITests.m:10:
In file included from <module-includes>:1:
In file included from /Applications/Xcode.app/Contents/Developer/Platforms/iPhoneOS.platform/Developer/Library/Frameworks/XCTest.framework/Headers/XCTest.h:57:
/Applications/Xcode.app/Contents/Developer/Platforms/iPhoneOS.platform/